<template>
  <div class="loading-spinner" :class="{light:light}">
    <div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div>
  </div>
</template>

<script>
export default {
  name: "LoadingSpinnerVue",
  props: {light:Boolean},
}
</script>