<script>
import Base from '@backend/Base.vue';
import BoConfig from '@config/BoConfig.js';
import BOGen from '@helper/BOGen.js';
import Gen from '../helper/Gen';


export default {
  extends: Base,
  data(){
    return {
      Name:"ApprovalBackOffice",
      PageName: "Back Office Approval",
      ObjectName: "Back Office Approval",
      NoList: true,
      tabs: {name:"auth"},
      row: {},
      VAL: {},
      cust: {},
      input: {status:"approve"},
      mrValidation:{
      }
    }
  },
  mounted(){
    this.$set(this.$root, 'page', this)
    this.loadingOverlay = true;
    this.refreshData()
  },
  methods:{
    onRefreshVAL(VAL){
      this.$set(this, 'row', VAL.row)
      this.row.name = ""
      this.row.birthdate = ""
      this.row.birthplace = ""
      this.row.address = ""
      this.row.addressasliri = ""
      this.row.selfie_photo = ""
    },
    refreshData(){
          BOGen.apirest("/"+this.Name+"/"+this.$route.params.id, {Mail:this.$route.params.Mail}, (err, resp)=>{
          this.loadingOverlay = false
          if(err) return this.$router.push({name:"Dashboard"})
          Object.keys(resp).forEach((k)=>{
            this[k] = resp[k]
          })
      })
    },
    Verifikasi(){
      BOGen.apirest("/BasicVerificationASLIRI", Object.assign({Mail:this.row.Mail},this.input), (err, resp)=>{
        if(err){
          swal({ icon: 'error',title: 'Ooops..!!', text: err.json.message});
          return console.error(err.json.message);
        }
        Object.keys(resp.data).forEach(k=>{
          this.$set(this.row, k, resp.data[k])
        })
        Gen.info(resp.message, 'success', 300).then(()=>{
          if(this.$route.query.url) return this.$router.push({path:this.$route.query.url})
          this.$router.push({name:"ApprovalBackOffice"})
        })
      }, "POST")
    },
  ForwardApproval(){
      swal({
        title: "Are you sure to submit?",
        text:"",
        icon: "warning",
        buttons: ["No, Cancel!", "Yes, Sure!"],
      }).then((ok) => {
        if(!ok) return;
        BOGen.apirest("/ForwardApproval", Object.assign({Mail:this.row.Mail},this.input), (err, resp)=>{
          if(err){
            swal({ icon: 'error',title: 'Ooops..!!', text: err.json.message});
            return console.error(err.json.message);
          }
          Gen.delStorage("ApprovalBackOffice-Form")
          swal("Data has been submitted", "", "success").then(()=>{
            this.$router.push({name:"Inbox"})
            this.input = {}
            $("body,html").animate({scrollTop:0}, 300)
          })
        },"POST")
      })
    },
    submitForm(e){
      swal({
        title: "Are you sure to submit?",
        text:"",
        icon: "warning",
        buttons: ["No, Cancel!", "Yes, Sure!"],
      }).then((ok) => {
        if(!ok) return;
        if(e.btnLoading()) return;
        this.input.Mail = this.row.Mail
        var input = Gen.clone(this.input)
        BOGen.apirest("/ApprovalBackOffice", input, (err, resp)=>{
          e.btnUnloading()
          if(err){
            swal({ icon: 'error',title: 'Ooops..!!', text: err.json.message});
            return console.error(err.json.message);
          }
          Gen.delStorage("ApprovalBackOffice-Form")
          swal("Data has been submitted", "", "success").then(()=>{
            this.$router.push({name:"Inbox"})
            this.input = {}
            $("body,html").animate({scrollTop:0}, 300)
          })
        },"POST")
      })
    }
  },
  watch:{
    '$route.query'(){
			this.refreshData()
    },
  }
}
</script>

<template>
  <div class="container-fluid">
    <PageTitle></PageTitle>
    <div class="info"></div>
    <div class="card">
      <div class="auth" v-show="tabs.name=='auth'">
        <div class="card">
          <div class="card-header bg-info">
            <h4 class="m-b-0 text-white">Data Pribadi</h4>
          </div>
          <div class="table-responsive">
            <table class="table table-striped m-b-0 tdl20">
              <tbody>
                
                <tr>
                  <td><b>Jenis Tabungan</b>
                    <p><span class="label label-table label-success">{{row.SavingType}}</span></p>
                  </td>
                  <td><b>Jenis ATM</b>
                    <p><span class="label label-table label-success">{{row.TypeCard}}</span></p>
                  </td>
                  <td><b>Scoring Asli RI</b>
                    <p>{{row.selfie_photo}}
                    </p>
                  </td>
                </tr>

                <tr>
                  <td><b>Nama Cabang</b>
                    <p>{{row.KodeCabang}} - {{row.NamaCabang}}</p>
                  </td>
                  <td><b>Nama Lengkap</b>
                    <p>{{row.FullName}}
                      <i v-if="row.name=='true'" class="icon-check" style="padding: 2px 5px;color: green"></i>
                      <i v-if="row.name=='false'" class="icon-close" style="padding: 2px 5px;color: red"></i>
                    </p>
                  </td>
                   <td><b>Nama Singkat</b>
                    <p>{{row.NickName}}</p>
                  </td>
                </tr>

                <tr>
                  <td><b>Jenis Kelamin</b>
                    <p>{{row.Gender}}</p>
                  </td>
                  <td><b>Title</b>
                    <p>{{row.Title}}</p>
                  </td>
                   <td><b>Tempat Lahir</b>
                    <p>{{row.PlaceOfBirth}}
                        <i v-if="row.birthplace=='true'" class="icon-check" style="padding: 2px 5px;color: green"></i>
                        <i v-if="row.birthplace=='false'" class="icon-close" style="padding: 2px 5px;color: red"></i>
                    </p>
                  </td>
                </tr>

                <tr>
                  <td><b>Tanggal Lahir</b>
                    <p>{{row.DateOfBirth}}
                        <i v-if="row.birthdate=='true'" class="icon-check" style="padding: 2px 5px;color: green"></i>
                        <i v-if="row.birthdate=='false'" class="icon-close" style="padding: 2px 5px;color: red"></i>
                    </p>
                  </td>
                  <td><b>Nama Ibu Kandung</b>
                    <p>{{row.MotherName}}</p>
                  </td>
                   <td><b>Kewarganegaraan</b>
                    <p>{{row.Country}}</p>
                  </td>
                </tr>

                <tr>
                  <td><b>Jenis Identitas</b>
                    <p>{{row.TypeIdentity}}</p>
                  </td>
                  <td><b>No. Identitas</b>
                    <p>{{row.Identity}}</p>
                  </td>
                   <td><b>Tanggal Terbit</b>
                    <p>{{row.StartDateIdentity}}</p>
                  </td>
                </tr>

                <tr>
                  <td><b>Tanggal Berakhir</b>
                    <p>{{row.EndDateIdentity}}</p>
                  </td>
                  <td><b>Alamat Identitas</b>
                    <p>{{row.AddressIdentity}}
                        <i v-if="row.addressasliri=='true'" class="icon-check" style="padding: 2px 5px;color: green"></i>
                        <i v-if="row.addressasliri=='false'" class="icon-close" style="padding: 2px 5px;color: red"></i>
                    </p>
                  </td>
                  <td><b>Alamat Asli RI</b>
                    <p>{{row.address}}
                    </p>
                  </td>
                </tr>

                <tr>
                  <td><b>RT</b>
                    <p>{{row.RTIdentity}}</p>
                  </td>
                  <td><b>RW</b>
                    <p>{{row.RWIdentity}}</p>
                  </td>
                  <td><b>Kelurahan</b>
                    <p>{{row.KelIdentity}}</p>
                  </td>
                </tr>

                <tr>
                  <td><b>Kecamatan</b>
                    <p>{{row.KecIdentity}}</p>
                  </td>
                  <td><b>Kab./Kodya</b>
                    <p>{{row.KabIdentity}}</p>
                  </td>
                  <td><b>Provinsi</b>
                    <p>{{row.ProvinceIdentity}}</p>
                  </td>
                </tr>

                <tr>
                  <td><b>Kode Pos</b>
                    <p>{{row.PostalCodeIdentity}}</p>
                  </td>
                  <td><b>No. Tlp</b>
                    <p>{{row.PhoneNumber}}</p>
                  </td>
                  <td><b>No. Hp</b>
                    <p>{{row.MobileNumber}}</p>
                  </td>
                </tr>

                <tr>
                  <td><b>No. Fax</b>
                    <p>{{row.FaxNumber}}</p>
                  </td>
                  <td><b>E-Mail</b>
                    <p>{{row.Mail}}</p>
                  </td>
                  <td><b>Pendidikan</b>
                    <p>{{row.Education}}</p>
                  </td>
                </tr>

                <tr>
                  <td><b>Agama</b>
                    <p>{{row.religion}}</p>
                  </td>
                  <td><b>Status Perkawinan</b>
                    <p>{{row.MaterialStatus}}</p>
                  </td>
                  <td><b>Jumlah Tanggungan</b>
                    <p>{{row.NumberOfDependents}}</p>
                  </td>
                </tr>

                <tr>
                  <td><b>Status Rumah</b>
                    <p>{{row.HomeStatus}}</p>
                  </td>
                  <td><b>Hobby</b>
                    <p>{{row.Hobby}}</p>
                  </td>
                  <td><b>NPWP</b>
                    <p>{{row.NPWP}}</p>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="card-header bg-info" style="margin-top: 20px">
            <h4 class="m-b-0 text-white">Kontak Darurat</h4>
          </div>
          <div class="table-responsive">
            <table class="table table-striped m-b-0 tdl20">
              <tbody>
                <tr>
                  <td><b>Nama Lengkap</b>
                    <p>{{row.FamilyFullName}}</p>
                  </td>
                  <td><b>Hubungan Dengan Pemohon</b>
                    <p>{{row.FamilyRelationshipWithTheApplicant}}</p>
                  </td>
                   <td><b>No. Tlp</b>
                    <p>{{row.FamilyPhoneNumber}}</p>
                  </td>
                </tr>
                <tr>
                  <td><b>Alamat Domisili</b>
                    <p>{{row.FamilyAddress}}</p>
                  </td>
                  <td><b>RT</b>
                    <p>{{row.FamilyRT}}</p>
                  </td>
                   <td><b>RW</b>
                    <p>{{row.FamilyRW}}</p>
                  </td>
                </tr>
                <tr>
                  <td><b>Kelurahan</b>
                    <p>{{row.FamilyKel}}</p>
                  </td>
                  <td><b>Kecamatan</b>
                    <p>{{row.FamilyKec}}</p>
                  </td>
                   <td><b>Kab./Kodya</b>
                    <p>{{row.FamilyKab}}</p>
                  </td>
                </tr>
                <tr>
                  <td><b>Provinsi</b>
                    <p>{{row.FamilyProvince}}</p>
                  </td>
                  <td><b>Kode Pos</b>
                    <p>{{row.FamilyPostalCode}}</p>
                  </td>
                   <td><b></b>
                    <p></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
          <div class="card-header bg-info" style="margin-top: 20px">
            <h4 class="m-b-0 text-white">Data Pekerjaan</h4>
          </div>
          <div class="table-responsive">
            <table class="table table-striped m-b-0 tdl20">
              <tbody>
                <tr>
                  <td><b>Pekerjaan Saat Ini</b>
                    <p>{{row.Jobs}}</p>
                  </td>
                  <td><b>Nama Perusahaan / Instansi</b>
                    <p>{{row.CompanyName}}</p>
                  </td>
                   <td><b>Jabatan</b>
                    <p>{{row.Position}}</p>
                  </td>
                </tr>
                <tr>
                  <td><b>Bidang Usaha</b>
                    <p>{{row.BusinessField}}</p>
                  </td>
                  <td><b>Alamat Perusahaan</b>
                    <p>{{row.CompanyAddress}}</p>
                  </td>
                   <td><b>RT</b>
                    <p>{{row.RTCompany}}</p>
                  </td>
                </tr>
                <tr>
                  <td><b>RW</b>
                    <p>{{row.RWCompany}}</p>
                  </td>
                  <td><b>Kelurahan</b>
                    <p>{{row.KelCompany}}</p>
                  </td>
                   <td><b>Kecamatan</b>
                    <p>{{row.KecCompany}}</p>
                  </td>
                </tr>
                <tr>
                  <td><b>Kab./Kodya</b>
                    <p>{{row.KabCompany}}</p>
                  </td>
                  <td><b>Provinsi</b>
                    <p>{{row.ProvinceCompany}}</p>
                  </td>
                   <td><b>Kode Pos</b>
                    <p>{{row.PostalCodeCompany}}</p>
                  </td>
                </tr>
                <tr>
                  <td><b>No. Tlp</b>
                    <p>{{row.PhoneNumberCompany}}</p>
                  </td>
                  <td><b>Ext.</b>
                    <p>{{row.ExtNumberCompany1}}</p>
                  </td>
                   <td><b>No. Fax</b>
                    <p>{{row.FaxNumberCompany}}</p>
                  </td>
                </tr>
                <tr>
                  <td><b>Ext. Tlp</b>
                    <p>{{row.ExtNumberCompany2}}</p>
                  </td>
                  <td><b>Tahun Lama Bekerja</b>
                    <p>{{row.LengthOfWorkYear}}</p>
                  </td>
                   <td><b>Bulan Lama Bekerja</b>
                    <p>{{row.LengthOfWorkMonth}}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="card-header bg-info" style="margin-top: 20px">
            <h4 class="m-b-0 text-white">Data Keuangan</h4>
          </div>
          <div class="table-responsive">
            <table class="table table-striped m-b-0 tdl20">
              <tbody>
                <tr>
                  <td><b>Sumber Penghasilan</b>
                    <p>{{row.SourceOfIncome}}</p>
                  </td>
                  <td><b>Total Penghasilan</b>
                    <p>{{row.TotalIncome}}</p>
                  </td>
                   <td><b>Sumber Dana</b>
                    <p>{{row.SourceOfFunds}}</p>
                  </td>
                </tr>
                <tr>
                  <td><b>Tujuan Pembukaan Rekening</b>
                    <p>{{row.PurposeOfOpeningAccount}}</p>
                  </td>
                  <td><b>Mempunyai Rekening Bank Lain</b>
                    <p>{{row.AnotherAccount}}</p>
                  </td>
                   <td><b>Nama Bank</b>
                    <p>{{row.BankName}}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="card-header bg-info" style="margin-top: 20px">
            <h4 class="m-b-0 text-white">Attachment</h4>
          </div>
          <div class="table-responsive">
            <table class="table table-striped m-b-0 tdl20">
              <tbody>
                <tr>
                  <td><b>KTP</b>
                    <p><img :src="uploader(row.Attachment1)" class="imagesview" v-if="row.Attachment1"><span v-else>-</span></p>
                  </td>
                  <td><b>KTP & SELFIE</b>
                    <p><img :src="uploader(row.Attachment2)" class="imagesview" v-if="row.Attachment2"><span v-else>-</span></p>
                  </td>
                   <td><b>TANDA TANGGAN</b>
                    <p><img :src="uploader(row.Attachment3)" class="imagesview" v-if="row.Attachment3"><span v-else>-</span></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

    <VForm @resp="submitForm" method="post">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Remarks <small class="txt_mandatory">*</small></label>
                <textarea v-model="input.remarks" minlength="3" class="form-control" rows="5" required></textarea>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <button type="button" @click="back()" class="btn btn-default mr5">Cancel</button>
            <button type="button" v-if="row.status!='200'" @click="Verifikasi" class="btn mr10" style="background-color: #00BFFF;;color: white;">Verifikasi</button>
            <button type="submit" class="btn mr10" style="background-color: rgb(40, 167, 69);color: white;" @click="input.status='A'"> <i class="fa fa-check"></i> Approve</button>
            <button type="button" v-if="row.isRequestApprove!='false'" @click="ForwardApproval" class="btn mr10" style="background-color: rgb(40, 167, 69);color: white;"><i class="fa fa-forward"></i>Request Approval</button>
            <button type="submit" class="btn btn-danger" @click="input.status='R'">Reject</button>
          </div>
        </div>
      </div>
    </VForm>
  </div>
</template>