<script>
import Base from '@backend/Base.vue';
import Gen from '@helper/Gen.js';

export default {
  extends: Base,
  data(){
    return {
      Name:"Dashboard",
    }
  },
  mounted(){
    this.$set(this.$root, 'page', this)
  },
  methods:{
    formatPrice(value) {
        let val = (value/1).toFixed(2).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    }
  }
}
</script>

<template>
  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="row">

        <template v-if="user.cif!=''"> 
          <div class="col-lg-4 offset-md">
            <div class="wrap_welcome" style="box-shadow: 0 5px 10px rgba(0,0,0,0.5);margin: 10% auto;position: relative;border-radius: 10px; background:#DC143C;">
              <div class="intro mt_10">
                <h3 style="color: white"><strong>Active Balance</strong></h3>
              
                <table>
                  <thead>
                    <tr align="left">
                      <th width="20%" align="left" style="color: white"><strong>No Rekening</strong></th>
                      <th width="20%" align="left" style="color: white"><strong>Saldo</strong></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(v,k) in user.rek" :key="k" align="left">
                      <td align="left" style="color: white">{{v.accountNumber}}</td>
                      <td align="left" style="color: white">{{v.accountCurrency}} {{formatPrice(v.availableBalance)}}</td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </template>

      </div>
    </div>
  </div>
</template>
