<script>
import Base from '@backend/Base.vue';
import BoConfig from '@config/BoConfig.js';
import BOGen from '@helper/BOGen.js';
import Gen from '../helper/Gen';

import "@backend/dist/css1/vendor/bootstrap/css/bootstrap.min.css"
import "@backend/dist/css1/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
import "@backend/dist/css1/vendor/animate/animate.css"
import "@backend/dist/css1/vendor/css-hamburgers/hamburgers.min.css"
import "@backend/dist/css1/vendor/select2/select2.min.css"
import "@backend/dist/css1/assets/css/util.css"
import "@backend/dist/css1/assets/css/main.css"


export default {
  extends: Base,
  data(){
    return {
      Name:"Forgot",
      PageName: "Lupa Password",
      ObjectName: "Lupa Password",
      NoList: true,
      Row: {},
      mrValidation:{
        Mail : "required|email"
      },
    }
  },
  mounted(){
    this.$set(this.$root, 'page', this)
  },
  methods:{
    registerModal () {
        this.$router.push({name:"Login"})
    },
    submitForm(e){
      if(e.btnLoading()) return;
      BOGen.apirest("/Forgot", this.row, (err, resp)=>{
        e.btnUnloading()
        if(err){
          swal({ icon: 'error',title: 'Ooops..!!', text: err.json.message});
          return console.error(err.json.message);
        }
        
         swal(resp.message, "", "success").then(()=>{
            this.$router.push({name:"Login"})
            this.row = {}
            $("body,html").animate({scrollTop:0}, 300)
          })
      }, 'POST')
    },
  }
}
</script>

<template>
  <div class="limiter">
    <div class="container-register">
			<div class="wrap-register">
				<div class="register-pic js-tilt" data-tilt>
          <img :src="assets('images','forgot1.jpg')" alt="PNG" />
				</div>

        <VForm @resp="submitForm" method="post" class="register-form validate-form">
          <span class="register-form-title">
            {{ObjectName}}
          </span>
            <div class="info"></div>
            <div class="wrap-input100 validate-input">
            <input type="email" name="Mail" v-model="row.Mail" class="input100" v-bind="validation('Mail')" placeholder="Email">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
            </div>

            <div class="container-register-form-btn">
            <button type="submit"  class="register-form-btn">Kirim Email</button>
            </div>

            <div class="text-center p-t-12">
            <span class="txt1">
            Sudah punya akun ?
            </span>
            <button type="button" class="txt2" v-on:click="registerModal">| Login</button>
            </div>

            <div class="text-center p-t-136">
            <button type="button" class="txt2" v-on:click="registerModal">Home</button>
            </div> 
        </VForm>
      </div>
    </div>
  </div>
</template>