<script>
import Base from '@backend/Base.vue';
import BOGen from '@helper/BOGen.js';
import BoConfig from '@config/BoConfig.js';

export default {
  extends: Base,
  data(){
    return {
      Name:"Inbox",
      PageName: "Inbox",
      ObjectName: "Inbox",
      NoList: true,
      mrValidation:{
      }
    }
  },
  computed:{
    aiStatus(){ return BoConfig.aiStatus },
  },
  mounted(){
    this.$set(this.$root, 'page', this)
    this.refreshData()
  },
  methods:{
    isCDA(v, statusType){
      if(statusType=="BOADMIN") return true
      if(statusType=="BOSPV") return true
      return false
    },
  },
  watch:{
    '$route.query'(v){
      this.refreshData()
    }
  }
}
</script>

<template>
  <div class="container-fluid">
    <PageTitle></PageTitle>
    
    <!-- ======================================================================== 
      LIST DATA
    ============================================================================= -->
    <div class="card" v-if="!$route.params.id">
      <div class="card-body card-filter">
        <VForm @resp="search">
          <div class="row">
            <div class="col-sm-3">
              <h4 class="card-title">{{ObjectName}} List <span v-if="data.total">({{(data.total||0).format()}})</span></h4>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-2">
              <Select2 :options="BoConfig.mrPageLimit" v-model="filter.limit"></Select2>
            </div>
            <div class="col-sm-3">
              <div class="has-feedback has-feedback-left">
                <input type="search" v-model="filter.search" @keyup.enter="search" class="form-control" placeholder="Type and hit Enter" style="height: 30px;">
                <div class="form-control-feedback">
                  <i class="icon-search4 text-size-base text-muted"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-1">
              <button type="button" @click="resetSearch()" class="btn btn-warning btn-sm">Reset</button>
            </div>
          </div>
        </VForm>
      </div>
      <div class="table-responsive ajax-table" style="max-height: 400px;">
        <table class="table table-striped table-bordered nowrap">
          <thead>
            <tr>
              <th>#</th>
              <th>{{fields.Mail}}</th>
              <th>{{fields.Created_Date}}</th>
              <th>Nama Lengkap</th>
              <th>Title</th>
              <th>Tipe Identitas</th>
              <th>Identitas</th>
              <th>Alamat</th>
              <th>Status</th>
              <th width="120px">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(v,k) in data.data" :key="k">
              <td class="number">{{(data.per_page*(data.current_page-1))+k+1}}</td>
              <td>{{v.Mail}}</td>
              <td>{{(v.Created_Date||"").dates("format2")}}</td>
              <td>{{v.FullName}}</td>
              <td>{{v.Title}}</td>
              <td>{{v.TypeIdentity}}</td>
              <td>{{v.Identity}}</td>
              <td>{{v.AddressIdentity}}</td>
              <td><StatusLabel :obj="v"></StatusLabel></td>
              <td class="btn-action">
                <template v-if="v.statusType=='BOADMIN'">
                  <router-link v-if="isCDA(v,'BOADMIN')" class="btn btn-success btn-sm" :to="{name:'ApprovalBackOffice2',params:{id:v.Mail}}" v-tooltip="'View'"><i class="ti-pencil-alt"></i> View</router-link>
                </template>

                <template v-if="v.statusType=='BOSPV'">
                  <router-link v-if="isCDA(v,'BOSPV')" class="btn btn-success btn-sm" :to="{name:'ApprovalBackOffice2',params:{id:v.Mail}}" v-tooltip="'View'"><i class="ti-pencil-alt"></i> View</router-link>
                </template>
              </td>
            </tr>
            <tr v-if="NotFound">
              <td colspan="99">
                <h3 class="tc">{{NotFound}}</h3>
              </td>
            </tr>
            <tr v-if="data.data===false">
              <td colspan="99">
                <LoadingSpinner light></LoadingSpinner>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-body">
        <div class="pull-right">
          <Pagination :data="data" :limit="3" @pagination-change-page="onPaging"></Pagination>
        </div>
      </div>
    </div>
  </div>
</template>
