<script>
import Base from '@backend/Base.vue';
import BOGen from '@helper/BOGen.js';
import BoConfig from '@config/BoConfig.js';
import env from '../env';


export default {
  extends: Base,
  data(){
    return {
      Name:"ListAOAkulakuReport",
      PageName: "AO Akulaku Report",
      ObjectName: "AO Akulaku Report",
      NoList: true,
      detail: {},
      FlowHistory: []
    }
  },
  computed:{
    downloadExcelUrl(){ return env.baseUrl+"/api/"+this.Name+"?downloadExcel=true&token="+Gen.getCookie("botk") }
  },
  mounted(){
    this.$set(this.$root, 'page', this)
    this.refreshData()
  },
  methods:{
    
  },
  watch:{
      '$route.query'(){ this.refreshData() },
  }
}
</script>

<template>
  <div class="container-fluid">
    <PageTitle></PageTitle>
    
    <!-- ======================================================================== 
      LIST DATA
    ============================================================================= -->
    <div class="card" v-if="!$route.params.id">
      <div class="card-body card-filter">
        <VForm @resp="search">
          <div class="row">
            <div class="col-sm-3">
              <h4 class="card-title">{{ObjectName}} List <span v-if="data.total">({{(data.total||0).format()}})</span></h4>
            </div>
            <div class="col-sm-8">
              <div class="has-feedback has-feedback-left">
                <input type="search" v-model="filter.search" @keyup.enter="search" class="form-control" placeholder="Type and hit Enter">
                <div class="form-control-feedback">
                  <i class="icon-search4 text-size-base text-muted"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-1">
              <button type="button" @click="resetSearch()" class="btn btn-warning btn-sm">Reset</button>
            </div>
          </div>
        </VForm>
      </div>
      <div class="table-responsive ajax-table">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th><SortField name="Name" label="Name"></SortField></th>
              <th><SortField name="Title" label="Title"></SortField></th>
              <th><SortField name="KTP" label="KTP"></SortField></th>
              <th><SortField name="Reporting" label="Reporting"></SortField></th>
              <th><SortField name="Kode_AO" label="Kode AO"></SortField></th>
              <th><SortField name="Kode_Referral" label="Kode Group"></SortField></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(v,k) in data.data" :key="k">
              <td class="number">{{(data.per_page*(data.current_page-1))+k+1}}</td>
              <td>{{v.Name}}</td>
              <td>{{v.Title}}</td>
              <td>{{v.KTP}}</td>
              <td>{{v.Reporting}}</td>
              <td>{{v.Kode_AO}}</td>
              <td>{{v.Kode_Referral}}</td>
            </tr>
            <tr v-if="NotFound">
              <td colspan="99">
                <h3 class="tc">{{NotFound}}</h3>
              </td>
            </tr>
            <tr v-if="data.data===false">
              <td colspan="99">
                <LoadingSpinner light></LoadingSpinner>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-body">
        <div class="pull-left">
          <a :href="downloadExcelUrl" target="_blank" class="btn btn-success waves-effect waves-light"><i class="icon-cloud-download"></i> Export Excel</a>
        </div>
        <div class="pull-right">
          <Pagination :data="data" :limit="3" @pagination-change-page="onPaging"></Pagination>
        </div>
      </div>
    </div>
  </div>
</template>
