<script>
import Base from '@backend/Base.vue';
import BOGen from '@helper/BOGen.js';
import BoConfig from '@config/BoConfig.js';
import env from '../env';


export default {
  extends: Base,
  data(){
    return {
      Name:"ListNasabah",
      PageName: "Nasabah Report",
      ObjectName: "Nasabah Report",
      NoList: true,
      detail: {},
      FlowHistory: []
    }
  },
  computed:{
    downloadExcelUrl(){ return env.baseUrl+"/api/"+this.Name+"?downloadExcel=true&token="+Gen.getCookie("botk") }
  },
  mounted(){
    this.$set(this.$root, 'page', this)
    this.refreshData()
  },
  methods:{
    
  },
  watch:{
      
  }
}
</script>

<template>
  <div class="container-fluid">
    <PageTitle></PageTitle>
    
    <!-- ======================================================================== 
      LIST DATA
    ============================================================================= -->
    <div class="card" v-if="!$route.params.id">
      <div class="card-body card-filter">
        <VForm @resp="search">
          <div class="row">
            <div class="col-sm-3">
              <h4 class="card-title">{{ObjectName}} List <span v-if="data.total">({{(data.total||0).format()}})</span></h4>
            </div>
            <div class="col-sm-8">
              <div class="has-feedback has-feedback-left">
                <input type="search" v-model="filter.search" @keyup.enter="search" class="form-control" placeholder="Type and hit Enter">
                <div class="form-control-feedback">
                  <i class="icon-search4 text-size-base text-muted"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-1">
              <button type="button" @click="resetSearch()" class="btn btn-warning btn-sm">Reset</button>
            </div>
          </div>
        </VForm>
      </div>
      <div class="table-responsive ajax-table">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th><SortField name="CIF" label="CIF"></SortField></th>
              <th><SortField name="Rekening" label="Rekening"></SortField></th>
              <th><SortField name="Virtual_Account" label="Virtual Account"></SortField></th>
              <th><SortField name="NamaNasabah" label="Nama Nasabah"></SortField></th>
              <th><SortField name="Title" label="Title"></SortField></th>
              <th><SortField name="TempatLahir" label="Tempat Lahir"></SortField></th>
              <th><SortField name="TanggalLahir" label="Tanggal Lahir"></SortField></th>
              <th><SortField name="JenisKelamin" label="Jenis Kelamin"></SortField></th>
              <th><SortField name="NamaIbuKandung" label="Nama Ibu Kandung"></SortField></th>
              <th><SortField name="NoKTP" label="No. KTP"></SortField></th>
              <th><SortField name="NPWP" label="No. NPWP"></SortField></th>
              <th><SortField name="TanggalTerbitKTP" label="Tanggal Terbit KTP"></SortField></th>
              <th><SortField name="TanggalBerakhirKTP" label="Tanggal Berakhir KTP"></SortField></th>
              <th><SortField name="Province" label="Province"></SortField></th>
              <th><SortField name="Kabupaten" label="Kabupaten"></SortField></th>
              <th><SortField name="Kecamatan" label="Kecamatan"></SortField></th>
              <th><SortField name="Kelurahan" label="Kelurahan"></SortField></th>
              <th><SortField name="KodeAO" label="Kode AO"></SortField></th>
              <th><SortField name="NamaAO" label="Nama AO"></SortField></th>
              <th><SortField name="Kode_Referral" label="Kode Group"></SortField></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(v,k) in data.data" :key="k">
              <td class="number">{{(data.per_page*(data.current_page-1))+k+1}}</td>
              <td>{{v.CIF}}</td>
              <td>{{v.Rekening}}</td>
              <td>{{v.Virtual_Account}}</td>
              <td>{{v.NamaNasabah}}</td>
              <td>{{v.Title}}</td>
              <td>{{v.TempatLahir}}</td>
              <td>{{v.TanggalLahir}}</td>
              <td>{{v.JenisKelamin}}</td>
              <td>{{v.NamaIbuKandung}}</td>
              <td>{{v.NoKTP}}</td>
              <td>{{v.NPWP}}</td>
              <td>{{v.TanggalTerbitKTP}}</td>
              <td>{{v.TanggalBerakhirKTP}}</td>
              <td>{{v.Province}}</td>
              <td>{{v.Kabupaten}}</td>
              <td>{{v.Kecamatan}}</td>
              <td>{{v.Kelurahan}}</td>
              <td>{{v.KodeAO}}</td>
              <td>{{v.NamaAO}}</td>
              <td>{{v.Kode_Referral}}</td>
            </tr>
            <tr v-if="NotFound">
              <td colspan="99">
                <h3 class="tc">{{NotFound}}</h3>
              </td>
            </tr>
            <tr v-if="data.data===false">
              <td colspan="99">
                <LoadingSpinner light></LoadingSpinner>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-body">
        <div class="pull-left">
          <a :href="downloadExcelUrl" target="_blank" class="btn btn-success waves-effect waves-light"><i class="icon-cloud-download"></i> Export Excel</a>
        </div>
        <div class="pull-right">
          <Pagination :data="data" :limit="3" @pagination-change-page="onPaging"></Pagination>
        </div>
      </div>
    </div>
  </div>
</template>
