<script>
import Base from '@backend/Base.vue';
import BOGen from '@helper/BOGen.js';
import BoConfig from '@config/BoConfig.js';
import env from '../env';


export default {
  extends: Base,
  data(){
    return {
      Name:"ListVirtualAccountReport",
      PageName: "Virtual Account Report",
      ObjectName: "VA Report",
      NoList: true,
      detail: {},
      FlowHistory: []
    }
  },
  computed:{
    downloadExcelUrl(){ return env.baseUrl+"/api/"+this.Name+"?downloadExcel=true&token="+Gen.getCookie("botk") }
  },
  mounted(){
    this.$set(this.$root, 'page', this)
    this.refreshData()
  },
  methods:{
    openDetailFlowStatus(v){
      this.detail = v
      this.apiFlowDetail();
      $("#FlowStatus").modal()
    },
    apiFlowDetail(){
      this.loadingOverlay = true
      BOGen.apirest("/FlowStatusDetail", {external_id:this.detail.external_id,owner_id:this.detail.owner_id,created:this.detail.created }, (err, resp)=>{
        this.loadingOverlay = false
        if(err){
          swal({ icon: 'error',title: 'Ooops..!!', text: err.json.message});
          return console.error(err.json.message);
        }
        this.detail = resp.ai
        this.FlowHistory = resp.history
      })
    }
  },
  watch:{
     '$route.query'(v){
      this.refreshData()
    }
  }
}
</script>

<template>
  <div class="container-fluid">
    <PageTitle></PageTitle>
    
    <!-- ======================================================================== 
      LIST DATA
    ============================================================================= -->
    <div class="card" v-if="!$route.params.id">
      <div class="card-body card-filter">
        <VForm @resp="search">
          <div class="info"></div>
          <div class="row">
            <div class="col-sm-3">
              <h4 class="card-title">{{ObjectName}} List <span v-if="data.total">({{(data.total||0).format()}})</span></h4>
            </div>
            <div class="col-sm-8">
              <div class="has-feedback has-feedback-left">
                <input type="search" v-model="filter.search" @keyup.enter="search" class="form-control" placeholder="Type and hit Enter">
                <div class="form-control-feedback">
                  <i class="icon-search4 text-size-base text-muted"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-1">
              <button type="button" @click="resetSearch()" class="btn btn-warning btn-sm">Reset</button>
            </div>
          </div>
        </VForm>
      </div>
      <div class="table-responsive ajax-table">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th><SortField name="account_number" label="Virtual Number"></SortField></th>
              <th><SortField name="name" label="Customer Name"></SortField></th>
              <th><SortField name="bank_code" label="Bank Name"></SortField></th>
              <th><SortField name="status" label="Status"></SortField></th>
              <th width="60px">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(v,k) in data.data" :key="k">
              <td class="number">{{(data.per_page*(data.current_page-1))+k+1}}</td>
              <td>{{v.account_number}}</td>
              <td>{{v.name}}</td>
              <td>{{v.bank_code}}</td>
              <td><StatusLabel :obj="v"></StatusLabel></td>
              <td class="btn-action tc">
                <button class="btn-action btn btn-info btn-sm" v-tooltip="'Detail flow status'" @click="openDetailFlowStatus(v)"><i class="ti-eye"></i></button>
              </td>
            </tr>
            <tr v-if="NotFound">
              <td colspan="99">
                <h3 class="tc">{{NotFound}}</h3>
              </td>
            </tr>
            <tr v-if="data.data===false">
              <td colspan="99">
                <LoadingSpinner light></LoadingSpinner>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-body">
        <div class="pull-left">
          <a :href="downloadExcelUrl" target="_blank" class="btn btn-success waves-effect waves-light"><i class="icon-cloud-download"></i> Export Excel</a>
        </div>
        <div class="pull-right">
          <Pagination :data="data" :limit="3" @pagination-change-page="onPaging"></Pagination>
        </div>
      </div>
    </div>
    
    <div id="FlowStatus" class="modal">
      <div class="modal-dialog modal-lg" style="max-width: 100%;" v-if="detail.account_number">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myLargeModalLabel">Detail </h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="modal-body">
            <h4>History</h4>
            <div class="row lblfield">
              <div class="col-sm-3">
                <BoField name="name">{{detail.name}}</BoField>
              </div>
              <div class="col-sm-3">
                <BoField name="bank_code">{{detail.bank_code}}</BoField>
              </div>
              <div class="col-sm-3">
                <BoField name="account_number">{{detail.account_number}}</BoField>
              </div>
              <div class="col-sm-3">
                <BoField name="status">{{detail.status}}</BoField>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Created</th>
                  </tr>
                </thead>
                <tbody>
                  <template v-for="(v,k) in FlowHistory">
                    <tr :key="k">
                      <td><StatusLabel :obj="v"></StatusLabel></td>
                      <td>{{(v.created||"").dates("format2")||"-"}}</td>
                    </tr>
                  </template>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-invers waves-effect text-left" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
