<script>
import Gen from '@helper/Gen';
import BOGen from '@helper/BOGen';
import GlobalVue from '@helper/Global.vue';
import Config from '@config/Config.js';

import "@backend/dist/css/pages/login-register-lock.css"
import "@backend/dist/css1/vendor/bootstrap/css/bootstrap.min.css"
import "@backend/dist/css1/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
import "@backend/dist/css1/vendor/animate/animate.css"
import "@backend/dist/css1/vendor/css-hamburgers/hamburgers.min.css"
import "@backend/dist/css1/vendor/select2/select2.min.css"
import "@backend/dist/css1/assets/css/util.css"
import "@backend/dist/css1/assets/css/main.css"

export default {
  extends: GlobalVue,
  data(){
    return {
      input: {},
      mrValidation: {
        Mail: "required|maxlength:1000|email",
        password: "required",
      },
    }
  },
  computed:{
    yearcopy(){
      return Gen.yearCopy(Config.yearcopy)
    }
  },
  mounted(){
    global.Page = this
    this.refreshVariable()
  },
  methods:{
     registerModal () {
        this.$router.push({name:"SignUp"})
    },
    ResetPasswordModal () {
        this.$router.push({name:"Forgot"})
    },
    submit(e){
      if(e.btnLoading()) return;
      BOGen.apirest("/auth", this.input, (err, resp)=>{
        e.btnUnloading()
         if(err){
          swal({ icon: 'error',title: 'Ooops..!!', text: err.json.message});
          return console.error(err.json.message);
          // return Gen.info(err.json.message, 'danger')
        }
        
        this.$root.user = resp.user
        Gen.putCookie("user", resp.user)
        Gen.putCookie("botk", resp.token)
        
         swal(resp.message, "", "success").then(()=>{
            this.$router.push({name:"Dashboard"})
            this.row = {}
            $("body,html").animate({scrollTop:0}, 300)
          })
      }, 'POST')
    },
  }
}
</script>

<template>
  <div class="limiter">
    <div class="container-register">
      <div class="wrap-register">
        <div class="register-pic js-tilt" data-tilt>
					<img :src="assets('images','login.jpg')" alt="PNG" />
				</div>
          
          <VForm @resp="submit" class="form-horizontal form-material" id="loginform">
            <span class="register-form-title">
						  Member Login
					  </span>
            <div class="info"></div>
            <div class="wrap-input100 validate-input">
              <input class="input100" name="Mail" type="email" v-model="input.Mail" v-bind="validation('Mail')" placeholder="Email">
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </span>
            </div>
            <div class="wrap-input100 validate-input">
              <input class="input100" name="password" type="password" v-model="input.password" v-bind="validation('password')" placeholder="Password">
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
            </div>
            <div class="form-group text-center m-t-20">
              <button type="submit" class="register-form-btn">Login</button>
            </div>

            <div class="text-center p-t-12">
              <button type="button" class="txt2" v-on:click="ResetPasswordModal">Forgot Username / Password?</button>
            </div>

            <div class="text-center p-t-136">
              <button type="button" class="txt2" v-on:click="registerModal">Register<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i></button>
            </div>
          </VForm>
        
      </div>
    </div>
  </div>
</template>