<script>
import Base from '@backend/Base.vue';
import BOGen from '@helper/BOGen';
import BoConfig from '@config/BoConfig';

export default {
  extends: Base,
  data(){
    return {
      Name:"PostalArea",
      PageName: "Area Pos",
      ObjectName: "Area Pos",
      AddItem: true,
      WithLimit: true,
      mrValidation: {
        Provinsi: "required|minlength:3",
        Kabupaten: "required|minlength:3",
        Kecamatan: "required|minlength:5",
        Kelurahan: "required|minlength:5",
        Kodepos: "required|minlength:5"
      },
      filter: {},
    }
  },
  computed:{
  },
  mounted(){
    this.$set(this.$root, 'page', this)
    this.refreshData()
  },
  methods:{
  },
  watch:{
    '$route.query'(){ this.refreshData() },
  }
}
</script>

<template>
  <div class="container-fluid">
    <PageTitle></PageTitle>
    
    <!-- ======================================================================== 
      LIST DATA
    ============================================================================= -->
    <div class="card card-flat" v-if="!$route.params.id">
      <div class="card-body card-filter">
        <VForm @resp="search">
          <div class="row">
            <div class="col-sm-3">
              <h4 class="card-title">{{ObjectName}} List <span v-if="data.total">({{(data.total||0).format()}})</span></h4>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-2">
              <Select2 :options="BoConfig.mrPageLimit" v-model="filter.limit"></Select2>
            </div>
            <div class="col-sm-3">
              <div class="has-feedback has-feedback-left">
                <input type="search" v-model="filter.search" @keyup.enter="search" class="form-control" placeholder="Type and hit Enter" style="height: 30px;">
                <div class="form-control-feedback">
                  <i class="icon-search4 text-size-base text-muted"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-1">
              <button type="button" @click="resetSearch()" class="btn btn-warning btn-sm">Reset</button>
            </div>
          </div>
        </VForm>
      </div>
      <div class="table-responsive ajax-table">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th width="50px">#</th>
              <th>{{fields.Provinsi}}</th>
              <th>{{fields.Kabupaten}}</th>
              <th>{{fields.Kecamatan}}</th>
              <th>{{fields.Kelurahan}}</th>
              <th width="80px">{{fields.Kodepos}}</th>
              <th width="120px">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(v,k) in data.data" :key="k">
              <td class="number">{{(data.per_page*(data.current_page-1))+k+1}}</td>
              <td>{{v.Provinsi}}</td>
              <td>{{v.Kabupaten}}</td>
              <td>{{v.Kecamatan}}</td>
              <td>{{v.Kelurahan}}</td>
              <td>{{v.Kodepos}}</td>
              <td class="btn-action">
                <router-link class="icon_action" :to="{name:Name,params:{id:v.id}}" v-tooltip="'Edit'"><i class="icon-pencil"></i></router-link>
                <a href="javascript:;" class="icon_action" @click="deleteItem($event,k)" v-tooltip="'Remove'"><i class="icon-trash"></i></a>
              </td>
            </tr>
            <tr v-if="NotFound">
              <td colspan="99">
                <h3 class="tc">{{NotFound}}</h3>
              </td>
            </tr>
            <tr v-if="data.data===false">
              <td colspan="99">
                <LoadingSpinner light></LoadingSpinner>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-body">
        <div class="pull-right">
          <Pagination :data="data" :limit="3" @pagination-change-page="onPaging"></Pagination>
        </div>
      </div>
    </div>

    <!-- ======================================================================== 
      FORM CRUD
    ============================================================================= -->
    <div class="card card-flat" v-if="$route.params.id">
      <VForm @resp="submitForm" method="post">
        <div class="card-body card-form">
          <h4 class="card-title">{{(row.id?"Edit":"Add")+" "+ObjectName}}</h4>
        </div>
        <div class="card-body">
          <div class="info"></div>
          <div class="row">
            <div class="col-sm-6">
              <BoField name="Provinsi" v-model="row.Provinsi"></BoField>
              <BoField name="Kabupaten" v-model="row.Kabupaten"></BoField>
              <BoField name="Kodepos" :attr="{type:'number'}" v-model="row.Kodepos"></BoField>
            </div>

            <div class="col-sm-6">
              <BoField name="Kecamatan" v-model="row.Kecamatan"></BoField>
              <BoField name="Kelurahan" v-model="row.Kelurahan"></BoField>
            </div>

            <div class="col-sm-12">
              <div class="text-right">
                <button type="button" @click="back()" class="btn btn-default mr5">Cancel</button>
                <button type="submit" class="fcbtn btn btn-info btn-outline btn-1e btn-loading">Submit form <i class="icon-arrow-right14 position-right"></i></button>
              </div>
            </div>
          </div>
        </div>
      </VForm>
    </div>
  </div>
</template>
