<script>
import Base from '@backend/Base.vue';
import BoConfig from '@config/BoConfig.js';
import BOGen from '@helper/BOGen.js';
import Gen from '../helper/Gen';

export default {
  extends: Base,
  data(){
    return {
      Name:"RecoverPassword",
      PageName: "Recover Password",
      ObjectName: "Recover Password",
      NoList: true,
      Row: {},
      mrValidation:{
        Mail : "required",
        OTP: "required|maxlength:6",
        NewPassword : "required",
        ReEnterNewPassword : "required"
      },
      Mail:this.$route.params.id
    }
  },
  mounted(){
    this.$set(this.$root, 'page', this)
    this.init()
  },
  methods:{
    init () {
      console.log(this.$route.params.id); //should return id of URL param
      this.row.Mail = this.$route.params.id;
    },
    submitForm(e){
      if(e.btnLoading()) return;
      BOGen.apirest("/RecoverPassword", this.row, (err, resp)=>{
        e.btnUnloading()
        if(err){
          swal({ icon: 'error',title: 'Ooops..!!', text: err.json.message});
          return console.error(err.json.message);
        }
        
         swal(resp.message, "", "success").then(()=>{
            this.$router.push({name:"Login"})
            this.row = {}
            $("body,html").animate({scrollTop:0}, 300)
          })
      }, 'POST')
    },
  }
}
</script>

<template>
  <div class="container-fluid">
    <PageTitle></PageTitle>

    <VForm @resp="submitForm" method="post">
      <div class="card">
        <div class="card-body card-form">
          <h4 class="card-title">{{ObjectName}} Form</h4>
        </div>
        <div class="card-header bg-info">
          <h4 class="m-b-0 text-white">Recover Password</h4>
        </div>
        <div class="card-body">
          <div class="info"></div>
          <div class="row">

            <div class="col-sm-12">
              <BoField name="ai_request_date">
                {{ moment().format("YYYY-MM-DD HH:mm:ss").dates("format2") }}
              </BoField>
            </div>
          
            <div class="col-sm-6">
              <BoField name="Mail" :value="row.Mail" :attr="{disabled:1}"></BoField>
            </div>

            <div class="col-sm-12">
              <BoField name="OTP" v-model="row.OTP"></BoField>
            </div>
            
            <div class="col-sm-12">
              <BoField name="NewPassword" :attr="{type:'password'}" v-model="row.NewPassword"></BoField>
            </div>

             <div class="col-sm-12">
              <BoField name="ReEnterNewPassword" :attr="{type:'password'}" v-model="row.ReEnterNewPassword"></BoField>
            </div>

            <div class="col-sm-12">
            <div class="text-right">
                <button type="button" @click="back()" class="btn btn-default mr5">Cancel</button>
                <button type="submit" class="fcbtn btn btn-info btn-outline btn-1e btn-loading">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
            </div>
          </div>
        </div>
      </div>
    </VForm>
  </div>
</template