<script>
import Base from '@backend/Base.vue';
import BoConfig from '@config/BoConfig.js';
import BOGen from '@helper/BOGen.js';
import Gen from '../helper/Gen';

export default {
  extends: Base,
  data(){
    return {
      Name:"RegisterOpenRek",
      PageName: "Data Informasi Nasabah (CIF) ",
      NoList: true,
      Row: {},
      mrJobs: [],
      mrBusinessField:[],
      mrProvinsi: [],
      mrProvinsiFam: [],
      mrProvinsiJobs: [],
      mrProvinsiDom: [],
      mrHobby: [],
      selKab: {},
      selKac: {},
      selKel: {},
      selKodePos: {},
      selKabFam: {},
      selKacFam: {},
      selKelFam: {},
      selKodePosFam: {},
      selKabJobs: {},
      selKacJobs: {},
      selKelJobs: {},
      selKodePosJobs: {},
      selKabDom: {},
      selKacDom: {},
      selKelDom: {},
      selKodePosDom: {},
      mrValidation:{
        FullName : "required",
        NickName : "required",
        Gender : "required",
        PlaceOfBirth : "required",
        DateOfBirth : "required",
        MotherName : "required",
        Country : "required",
        Identity : "required|maxlength:15|minlength:15",
        TypeIdentity : "required",
        Country : "required",
        StartDateIdentity : "required",
        EndDateIdentity : "required",
        AddressIdentity : "required",
        Attachment1: "required",
        Attachment2: "required",
        Attachment3: "required",
        MobileNumber: "required|maxlength:12|minlength:10",
        NPWP: "required|maxlength:15|minlength:15"
      },
    }
  },
  mounted(){
    this.$set(this.$root, 'page', this)
    this.apiJobs();
    this.apiBadanUsaha();
    this.apiProvinsi();
    this.apiProvinsiFam();
    this.apiProvinsiJobs();
    this.apiProvinsiDom();
    this.apiHobby();
    var draft = Gen.getStorage('RegisterOpenRek-Form')
    if(draft){
      this.user = Gen.clone(draft)
      setTimeout(()=>{
        this.user.FullName = draft.FullName
        this.user.NickName = draft.NickName
      },200)
    }

  },
  methods:{ 
    apiJobs(){
      BOGen.apirest("/jobs-select", {}, (e,resp)=>{
        if(e) return console.error(e)
        this.mrJobs = resp.data
      })
    },
    apiProvinsi(){
      BOGen.apirest("/province-select", {}, (e,resp)=>{
        if(e) return console.error(e)
        this.mrProvinsi = resp.data
      })
    },
    apiProvinsiFam(){
      BOGen.apirest("/provinceFamily-select", {}, (e,resp)=>{
        if(e) return console.error(e)
        this.mrProvinsiFam = resp.data
      })
    },
    apiProvinsiJobs(){
      BOGen.apirest("/provinceJobs-select", {}, (e,resp)=>{
        if(e) return console.error(e)
        this.mrProvinsiJobs = resp.data
      })
    },
     apiProvinsiDom(){
      BOGen.apirest("/provinceDomisili-select", {}, (e,resp)=>{
        if(e) return console.error(e)
        this.mrProvinsiDom = resp.data
      })
    },
    apiHobby(){
      BOGen.apirest("/Hobby-select", {}, (e,resp)=>{
        if(e) return console.error(e)
        this.mrHobby = resp.data
      })
    },
    onRefreshCustomer(){
      this.loadingOverlay = true
      BOGen.apirest("/"+this.Name+"/"+this.$route.params.id, {Mail:this.$route.params.Mail}, (err, resp)=>{
        this.loadingOverlay = false
        console.log(this.$route.query.id)
        if(err){
          swal({ icon: 'error',title: 'Ooops..!!', text: err.json.message});
          return console.error(err.json.message);
        }
        this.cus = resp.data
        this.$set(this, 'user', cus.user)
      });
    },
    saveDraft(){
      Gen.putStorage("RegisterOpenRek-Form", Gen.clone(this.user));
      swal("Data saved to draft", "", "success")
    },
    submitForm(e){
      swal({
        title: "Are you sure to submit?",
        text:"",
        icon: "warning",
        buttons: ["No, Cancel!", "Yes, Sure!"],
        // dangerMode: true,
      }).then((ok) => {
        if(!ok) return;
        if(e.btnLoading()) return;
        this.user.SavingType = this.$route.params.id
        var user = Gen.clone(this.user)
        BOGen.apirest("/OpenAccount", user, (err, resp)=>{
          e.btnUnloading()
          if(err){
            swal({ icon: 'error',title: 'Ooops..!!', text: err.json.message});
            return console.error(err.json.message);
          }
          Gen.delStorage("RegisterOpenRek-Form")
          swal("Data has been submitted", "", "success").then(()=>{
            this.$router.push({name:"Dashboard"})
            this.user = {}
            $("body,html").animate({scrollTop:0}, 300)
          })
        },"POST")
      })
    }
  },
  watch:{
    '$route.query'(v){
      this.refreshData()
    },
  }
}
</script>

<template>
  <div class="container-fluid">
    <PageTitle></PageTitle>

    <VForm @resp="submitForm" method="post">
      <div class="card">
        <div class="card-header bg-info">
          <h4 class="m-b-0 text-white">Data Pribadi</h4>
        </div>
        <div class="card-body">
          <div class="info"></div>
          <div class="row">
            <div class="col-sm-12">
              <BoField name="ai_request_date">
                {{ moment().format("YYYY-MM-DD HH:mm:ss").dates("format2") }}
              </BoField>
            </div>

            <div class="col-sm-4">
              <BoField name="NamaCabang">
                <Select2 :url="'/Branch-select'" :object="['KodeCabang','NamaCabang']" name="NamaCabang" v-model="user.KodeCabang" v-bind="validation('KodeCabang')">
                </Select2>
              </BoField>
            </div>

            <div class="col-sm-4">
                <BoField name="SavingType">
                    <p><span class="label label-table label-success"> {{this.$route.params.id}}</span></p>
                </BoField>
            </div>

            <div class="col-sm-4">
                <BoField name="TypeCard">
                    <Select2 :url="'/TypeCard-select?SavingType='+this.$route.params.id" :object="['TypeCard','TypeCard']" name="TypeCard" v-model="user.TypeCard" v-bind="validation('TypeCard')">
                    </Select2>
                </BoField>
            </div>
  
            <div class="col-sm-12">
              <BoField name="FullName" :value="user.FullName" :attr="{disabled:1}" v-model="user.FullName"></BoField>
            </div>
            <div class="col-sm-8">
              <BoField name="NickName" :value="user.NickName" :attr="{disabled:1}" v-model="user.NickName"></BoField>
            </div>

            <div class="col-sm-4">
              <BoField name="Gender">
                <Select2 :options="BoConfig.mrGender" v-model="user.Gender" v-bind="validation('Gender')"></Select2>
              </BoField>
            </div>
            <div class="col-sm-12">
              <BoField name="Title" v-model="user.Title"></BoField>
            </div>
           <div class="col-sm-8">
              <BoField name="PlaceOfBirth" v-model="user.PlaceOfBirth"></BoField>
            </div>
            <div class="col-sm-4">
              <BoField name="DateOfBirth">
                <div class="input-group">
                  <DatePicker name="DateOfBirth" :value="user.DateOfBirth" v-model="user.DateOfBirth" dateType="DateOfBirth" v-bind="validation('DateOfBirth')"></DatePicker>
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="icon-calender"></i></span>
                  </div>
                </div>
              </BoField>
            </div>
            <div class="col-sm-12">
              <BoField name="MotherName" v-model="user.MotherName"></BoField>
            </div>
             <div class="col-sm-4">
              <BoField name="Country">
                <Select2 :options="BoConfig.mrCountry" v-model="user.Country" v-bind="validation('Country')"></Select2>
              </BoField>
            </div>
            <div class="col-sm-8">
              <BoField name="CountryOther" v-model="user.CountryOther"></BoField>
            </div>
            <div class="col-sm-4">
              <BoField name="TypeIdentity">
                <Select2 :options="BoConfig.mrIdentity" v-model="user.TypeIdentity" v-bind="validation('TypeIdentity')"></Select2>
              </BoField>
            </div>
             <div class="col-sm-8">
              <BoField name="Identity" v-model="user.Identity"></BoField>
            </div>
            <div class="col-sm-4">
              <BoField name="StartDateIdentity">
                <div class="input-group">
                  <DatePicker name="StartDateIdentity" v-model="user.StartDateIdentity" dateType="StartDateIdentity" v-bind="validation('StartDateIdentity')"></DatePicker>
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="icon-calender"></i></span>
                  </div>
                </div>
              </BoField>
            </div>
            <div class="col-sm-4">
              <BoField name="EndDateIdentity">
                <div class="input-group">
                  <DatePicker name="EndDateIdentity" v-model="user.EndDateIdentity" dateType="EndDateIdentity" v-bind="validation('EndDateIdentity')"></DatePicker>
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="icon-calender"></i></span>
                  </div>
                </div>
              </BoField>
            </div>
            <div class="col-sm-12">
              <BoField name="AddressIdentity" v-model="user.AddressIdentity"></BoField>
            </div>
            <div class="col-sm-2">
              <BoField name="RTIdentity" v-model="user.RTIdentity" ></BoField>
            </div>
            <div class="col-sm-2">
              <BoField name="RWIdentity" v-model="user.RWIdentity" ></BoField>
            </div>

            <div class="col-sm-10">
              <BoField name="ProvinceIdentity">
                <Select2 :options="mrProvinsi" :object="['Provinsi','Provinsi']" v-model="user.ProvinceIdentity" v-bind="validation('ProvinceIdentity')"></Select2>
              </BoField>
            </div> 
            <div class="col-sm-6">
              <BoField name="KabIdentity">
                <Select2 :url="'/kabupaten-select?Province='+user.ProvinceIdentity" :object="['Kabupaten','Kabupaten']" :additional="[{Kabupaten:'Other'}]" name="KabIdentity" v-model="user.KabIdentity" v-bind="validation('KabIdentity')" @selectedObject="(obj)=>{ selKab = obj }">
                </Select2>
              </BoField>
            </div>
            <div class="col-sm-6">
              <BoField name="KecIdentity">
                <Select2 :url="'/Kecamatan-select?Kab='+user.KabIdentity" :object="['Kecamatan','Kecamatan']" :additional="[{Kecamatan:'Other'}]" name="KecIdentity" v-model="user.KecIdentity" v-bind="validation('KecIdentity')" @selectedObject="(obj)=>{ selKec = obj }">
                  </Select2>
              </BoField>
            </div>
            <div class="col-sm-8">
              <BoField name="KelIdentity">
                <Select2 :url="'/Kelurahan-select?Kec='+user.KecIdentity+'&Kab='+user.KabIdentity" :object="['Kelurahan','Kelurahan']" :additional="[{Kelurahan:'Other'}]" name="KelIdentity" v-model="user.KelIdentity" v-bind="validation('KelIdentity')" @selectedObject="(obj)=>{ selKel = obj }">
                </Select2>
              </BoField>
            </div>

            <div class="col-sm-2">  
              <BoField name="PostalCodeIdentity">
                <Select2 :url="'/KodePos-select?Kel='+user.KelIdentity+'&Kab='+user.KabIdentity+'&Kec='+user.KecIdentity"  :object="['Kodepos','Kodepos']" :additional="[{Kelurahan:'Other'}]" name="PostalCodeIdentity" v-model="user.PostalCodeIdentity" v-bind="validation('PostalCodeIdentity')" @selectedObject="(obj)=>{ selKodePos = obj }">
                </Select2>
              </BoField> 
            </div>
          </div>

          <div class="card-header bg-info">
            <h4 class="m-b-0 text-white">Data Domisili</h4>
          </div>

          <div class="col-sm-4">
            <BoField name="IsDomisili">
              <div class="radio-group">
                <Radio name="IsDomisili" v-model="user.IsDomisili" :option="true">Ya</Radio>
                <Radio name="IsDomisili" v-model="user.IsDomisili" :option="false">Tidak</Radio>
              </div>
            </BoField>
          </div>

          <div class="row" v-if="user.IsDomisili==false">
            <div class="col-sm-12">
              <BoField name="ResidenceAddress" v-model="user.ResidenceAddress"></BoField>
            </div>
            <div class="col-sm-2">
              <BoField name="RTResidence" v-model="user.RTResidence"></BoField>
            </div>
            <div class="col-sm-2">
              <BoField name="RWResidence" v-model="user.RWResidence"></BoField>
            </div>
            
            <div class="col-sm-10">
              <BoField name="ProvinceResidence">
                <Select2 :options="mrProvinsiDom" :object="['Provinsi','Provinsi']" v-model="user.ProvinceResidence" v-bind="validation('ProvinceResidence')"></Select2>
              </BoField>
            </div> 
            <div class="col-sm-6">
              <BoField name="KabResidence">
                <Select2 :url="'/kabupatenDomisili-select?Province='+user.ProvinceResidence" :object="['Kabupaten','Kabupaten']" :additional="[{Kabupaten:'Other'}]" name="KabResidence" v-model="user.KabResidence" v-bind="validation('KabResidence')" @selectedObject="(obj)=>{ selKabDom = obj }">
                </Select2>
              </BoField>
            </div>
            <div class="col-sm-6">
              <BoField name="KecResidence">
                <Select2 :url="'/KecamatanDomisili-select?Kab='+user.KabResidence" :object="['Kecamatan','Kecamatan']" :additional="[{Kecamatan:'Other'}]" name="KecResidence" v-model="user.KecResidence" v-bind="validation('KecResidence')" @selectedObject="(obj)=>{ selKecDom = obj }">
                  </Select2>
              </BoField>
            </div>
            <div class="col-sm-8">
              <BoField name="KelResidence">
                <Select2 :url="'/KelurahanDomisili-select?Kec='+user.KecResidence+'&Kab='+user.KabResidence" :object="['Kelurahan','Kelurahan']" :additional="[{Kelurahan:'Other'}]" name="KelResidence" v-model="user.KelResidence" v-bind="validation('KelResidence')" @selectedObject="(obj)=>{ selKelDom = obj }">
                </Select2>
              </BoField>
            </div>

            <div class="col-sm-2">  
              <BoField name="PostalCodeResidence">
                <Select2 :url="'/KodePosDomisili-select?Kel='+user.KelResidence+'&Kab='+user.KabResidence+'&Kec='+user.KecResidence"  :object="['Kodepos','Kodepos']" :additional="[{Kelurahan:'Other'}]" name="PostalCodeResidence" v-model="user.PostalCodeResidence" v-bind="validation('PostalCodeResidence')" @selectedObject="(obj)=>{ selKodePosDom = obj }">
                </Select2>
              </BoField> 
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <BoField name="PhoneNumber" v-model="user.PhoneNumber" ></BoField>
            </div>
            <div class="col-sm-4">
              <BoField name="MobileNumber" v-model="user.MobileNumber" ></BoField>
            </div>
            <div class="col-sm-6">
              <BoField name="FaxNumber" v-model="user.FaxNumber" ></BoField>
            </div>
            <div class="col-sm-6">
              <BoField name="Mail" :value="user.Mail" :attr="{disabled:1}"></BoField>
            </div>
            <div class="col-sm-4">
                <BoField name="Education">
                    <Select2 :options="BoConfig.mrEducation" v-model="user.Education" v-bind="validation('Education')"></Select2>
                </BoField>
                </div>
            <div class="col-sm-4">
                <BoField name="religion">
                    <Select2 :options="BoConfig.mrReligion" v-model="user.religion" v-bind="validation('religion')"></Select2>
                </BoField>
            </div>
            <div class="col-sm-4">
                <BoField name="MaterialStatus">
                    <Select2 :options="BoConfig.mrMaterialStatus" v-model="user.MaterialStatus" v-bind="validation('MaterialStatus')"></Select2>
                </BoField>
            </div>
            
            <div class="col-sm-4">
                <BoField name="NumberOfDependents" v-model="user.NumberOfDependents"></BoField>
            </div>
            <div class="col-sm-4">
                <BoField name="HomeStatus">
                    <Select2 :options="BoConfig.mrHomeStatus" v-model="user.HomeStatus" v-bind="validation('HomeStatus')"></Select2>
                </BoField>
            </div>
            <div class="col-sm-4">
                <BoField name="Hobby">
                    <Select2 :options="mrHobby" :object="['Hobby_Type','Hobby_Desc']" v-model="user.Hobby" v-bind="validation('Hobby')"></Select2>
                </BoField>
            </div>
            <div class="col-sm-12">
              <BoField name="NPWP" v-model="user.NPWP" ></BoField>
            </div>

          </div>
        </div>

        <div class="card-header bg-info">
          <h4 class="m-b-0 text-white">Kontak Darurat</h4>
        </div>
        <div class="card-body">
          <div class="info"></div>
          <div class="row">
            <div class="col-sm-12">
              <BoField name="FamilyFullName" v-model="user.FamilyFullName"></BoField>
            </div>
            <div class="col-sm-12">
              <BoField name="FamilyRelationshipWithTheApplicant" v-model="user.FamilyRelationshipWithTheApplicant"></BoField>
            </div>
            <div class="col-sm-12">
              <BoField name="FamilyPhoneNumber" v-model="user.FamilyPhoneNumber" ></BoField>
            </div>
            <div class="col-sm-12">
              <BoField name="FamilyAddress" v-model="user.FamilyAddress"></BoField>
            </div>
            <div class="col-sm-2">
              <BoField name="FamilyRT" v-model="user.FamilyRT" ></BoField>
            </div>
            <div class="col-sm-2">
              <BoField name="FamilyRW" v-model="user.FamilyRW" ></BoField>
            </div>

            <div class="col-sm-10">
              <BoField name="FamilyProvince">
                <Select2 :options="mrProvinsiFam" :object="['Provinsi','Provinsi']" v-model="user.FamilyProvince" v-bind="validation('FamilyProvince')"></Select2>
              </BoField>
            </div> 
            <div class="col-sm-6">
              <BoField name="FamilyKab">
                <Select2 :url="'/kabupatenFamily-select?Province='+user.FamilyProvince" :object="['Kabupaten','Kabupaten']" :additional="[{Kabupaten:'Other'}]" name="FamilyKab" v-model="user.FamilyKab" v-bind="validation('FamilyKab')" @selectedObject="(obj)=>{ selKabFam = obj }">
                </Select2>
              </BoField>
            </div>
            <div class="col-sm-6">
              <BoField name="FamilyKec">
                <Select2 :url="'/KecamatanFamily-select?Kab='+user.FamilyKab" :object="['Kecamatan','Kecamatan']" :additional="[{Kecamatan:'Other'}]" name="FamilyKec" v-model="user.FamilyKec" v-bind="validation('FamilyKec')" @selectedObject="(obj)=>{ selKecFam = obj }">
                  </Select2>
              </BoField>
            </div>
            <div class="col-sm-8">
              <BoField name="FamilyKel">
                <Select2 :url="'/KelurahanFamily-select?Kec='+user.FamilyKec+'&Kab='+user.KabFamily" :object="['Kelurahan','Kelurahan']" :additional="[{Kelurahan:'Other'}]" name="FamilyKel" v-model="user.FamilyKel" v-bind="validation('FamilyKel')" @selectedObject="(obj)=>{ selKelFam = obj }">
                </Select2>
              </BoField>
            </div>
                  
            <div class="col-sm-2">  
              <BoField name="FamilyPostalCode">
                <Select2 :url="'/KodePosFamily-select?Kel='+user.FamilyKel+'&Kab='+user.FamilyKab+'&Kec='+user.FamilyKec"  :object="['Kodepos','Kodepos']" :additional="[{Kelurahan:'Other'}]" name="FamilyPostalCode" v-model="user.FamilyPostalCode" v-bind="validation('FamilyPostalCode')" @selectedObject="(obj)=>{ selKodePosFam = obj }">
                </Select2>
              </BoField> 
            </div>
          </div>
        </div>
        
        <div class="card-header bg-info">
          <h4 class="m-b-0 text-white">Data Pekerjaan</h4>
        </div>
        <div class="card-body">
          <div class="info"></div>
          <div class="row">
            <div class="col-sm-4">
              <BoField name="Jobs">
                <Select2 :options="mrJobs" :object="['Id','Jobs_Desc']" v-model="user.Jobs" v-bind="validation('Jobs')"></Select2>
              </BoField>
            </div>
            <div class="col-sm-12">  
              <BoField name="CompanyName" v-model="user.CompanyName"></BoField>
            </div>
            <div class="col-sm-12">  
              <BoField name="Position" v-model="user.Position"></BoField>
            </div>
            <div class="col-sm-12">  
              <!-- <BoField name="BusinessField" v-model="user.BusinessField"></BoField> -->
               <BoField name="BusinessField">
                  <Select2 :options="mrBusinessField" :object="['Id','Description']" v-model="user.BusinessField" v-bind="validation('BusinessField')"></Select2>
              </BoField>
            </div>
            <div class="col-sm-12">  
              <BoField name="CompanyAddress" v-model="user.CompanyAddress"></BoField>
            </div>
            <div class="col-sm-2">
              <BoField name="RTCompany" v-model="user.RTCompany" ></BoField>
            </div>
            <div class="col-sm-2">
              <BoField name="RWCompany" v-model="user.RWCompany" ></BoField>
            </div>
            <div class="col-sm-10">
              <BoField name="ProvinceCompany">
                <Select2 :options="mrProvinsiJobs" :object="['Provinsi','Provinsi']" v-model="user.ProvinceCompany" v-bind="validation('ProvinceCompany')"></Select2>
              </BoField>
            </div> 
            <div class="col-sm-6">
              <BoField name="KabCompany">
                <Select2 :url="'/kabupatenJobs-select?Province='+user.ProvinceCompany" :object="['Kabupaten','Kabupaten']" :additional="[{Kabupaten:'Other'}]" name="KabCompany" v-model="user.KabCompany" v-bind="validation('KabCompany')" @selectedObject="(obj)=>{ selKabJobs = obj }">
                </Select2>
              </BoField>
            </div>
            <div class="col-sm-6">
              <BoField name="KecCompany">
                <Select2 :url="'/KecamatanJobs-select?Kab='+user.KabCompany" :object="['Kecamatan','Kecamatan']" :additional="[{Kecamatan:'Other'}]" name="KecCompany" v-model="user.KecCompany" v-bind="validation('KecCompany')" @selectedObject="(obj)=>{ selKecJobs = obj }">
                  </Select2>
              </BoField>
            </div>
            <div class="col-sm-8">
              <BoField name="KelCompany">
                <Select2 :url="'/KelurahanJobs-select?Kec='+user.KecCompany+'&Kab='+user.KabCompany" :object="['Kelurahan','Kelurahan']" :additional="[{Kelurahan:'Other'}]" name="KelCompany" v-model="user.KelCompany" v-bind="validation('KelCompany')" @selectedObject="(obj)=>{ selKelJobs = obj }">
                </Select2>
              </BoField>
            </div>
            
            <div class="col-sm-2">  
              <BoField name="PostalCodeCompany">
                <Select2 :url="'/KodePosJobs-select?Kel='+user.KelCompany+'&Kab='+user.KabCompany+'&Kec='+user.KecCompany"  :object="['Kodepos','Kodepos']" :additional="[{Kelurahan:'Other'}]" name="PostalCodeCompany" v-model="user.PostalCodeCompany" v-bind="validation('PostalCodeCompany')" @selectedObject="(obj)=>{ selKodePosJobs = obj }">
                </Select2>
              </BoField> 
            </div>
            <div class="col-sm-8">
              <BoField name="PhoneNumberCompany" v-model="user.PhoneNumberCompany" ></BoField>
            </div>
            <div class="col-sm-4">
              <BoField name="ExtNumberCompany1" v-model="user.ExtNumberCompany1" ></BoField>
            </div>
            <div class="col-sm-8">
              <BoField name="FaxNumberCompany" v-model="user.FaxNumberCompany" ></BoField>
            </div>   
            <div class="col-sm-4">
              <BoField name="ExtNumberCompany1" v-model="user.ExtNumberCompany1" ></BoField>
            </div>
            <div class="col-sm-2">  
              <BoField name="LengthOfWorkYear" v-model="user.LengthOfWorkYear" ></BoField>
            </div>
            <div class="col-sm-2">  
              <BoField name="LengthOfWorkMonth" v-model="user.LengthOfWorkMonth" ></BoField>
            </div>
          </div>
        </div>
        
        <div class="card-header bg-info">
          <h4 class="m-b-0 text-white">Data Keuangan</h4>
        </div>
        <div class="card-body">
          <div class="info"></div>
          <div class="row">
          
            <div class="col-sm-4">
              <BoField name="SourceOfIncome">
                <Select2 :options="BoConfig.mrSourceOfIncome" v-model="user.SourceOfIncome" v-bind="validation('SourceOfIncome')"></Select2>
              </BoField>
            </div>

            <div class="col-sm-4">
              <BoField name="TotalIncome">
                <Select2 :options="BoConfig.mrTotalIncome" v-model="user.TotalIncome" v-bind="validation('TotalIncome')"></Select2>
              </BoField>
            </div>

            <div class="col-sm-4">
              <BoField name="SourceOfFunds">
                <Select2 :options="BoConfig.mrSourceOfFunds" v-model="user.SourceOfFunds" v-bind="validation('SourceOfFunds')"></Select2>
              </BoField>
            </div>

            <div class="col-sm-4">
              <BoField name="PurposeOfOpeningAccount">
                <Select2 :options="BoConfig.mrPurposeOfOpeningAccount" v-model="user.PurposeOfOpeningAccount" v-bind="validation('PurposeOfOpeningAccount')"></Select2>
              </BoField>
            </div>

            <div class="col-sm-4">
              <BoField name="AnotherAccount">
                <div class="radio-group">
                  <Radio name="AnotherAccount" v-model="user.AnotherAccount" :option="true">Ya</Radio>
                  <Radio name="AnotherAccount" v-model="user.AnotherAccount" :option="false">Tidak</Radio>
                </div>
              </BoField>
            </div>

            <div class="col-sm-12">  
              <BoField name="BankName" v-model="user.BankName"></BoField>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="info"></div>
          <div class="row">
              <div class="col-sm-4">
                <BoField name="Attachment1" label="KTP">
                  <Uploader name="Attachment1" path="ktp" v-model="user.Attachment1" accept="image" uniq :attr="validation('Attachment1')"></Uploader>
                </BoField>
              </div>

              <div class="col-sm-4">
                <BoField name="Attachment2" label="KTP & SELFIE">
                  <Uploader name="Attachment2" path="ktp" v-model="user.Attachment2" accept="image" uniq :attr="validation('Attachment2')"></Uploader>
                </BoField>
              </div>

              <div class="col-sm-4">
                <BoField name="Attachment3" label="TANDA TANGGAN">
                  <Uploader name="Attachment3" path="ttd" v-model="user.Attachment3" accept="image" uniq :attr="validation('Attachment3')"></Uploader>
                </BoField>
              </div>
          </div>
        </div>

        <div class="card-body">
          <div class="info"></div>
          <div class="row">
              <div class="col-sm-12">
              <div class="text-right">
                <button type="button" @click="back()" class="btn btn-default mr5">Cancel</button>
                <button type="submit" class="fcbtn btn btn-info btn-outline btn-1e btn-loading">Submit <i class="icon-arrow-right14 position-right"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </VForm>
  </div>
</template>
