<script>
import Base from '@backend/Base.vue';
import BOGen from '@helper/BOGen';
import BoConfig from '@config/BoConfig';

export default {
  extends: Base,
  data(){
    return {
      Name:"Settings",
      PageName: "Settings List",
      ObjectName: "Settings",
      mrValidation: {
        s_values: "required",
        confidential: "required",
        manulife_withdrawal: "required",
        exit_interview: "required",
      }
    }
  },
  computed:{
    mrAccessMenu(){ return BoConfig.mrAccessMenu },
    mrAccessModule(){ return BoConfig.mrAccessModule },
  },
  mounted(){
    this.$set(this.$root, 'page', this)
    this.refreshData()
  },
  methods:{
    onRefreshPage(){

    },
    successFormCallback(resp){
      return Gen.info(resp.message, "success", 1000).then(()=>{
        this.refreshVariable()
        this.$router.push({name:this.Name})
      })
    },
    onSubmitForm(e){
      this.submitForm(e)
    }
  },
  watch:{
    '$route.query'(v){
      this.refreshData()
    }
  }
}
</script>

<template>
  <div class="container-fluid">
    <PageTitle></PageTitle>
    
    <!-- ======================================================================== 
      LIST DATA
    ============================================================================= -->
    <div class="card card-flat" v-if="!$route.params.id">
      <div class="card-body card-filter">
        <VForm @resp="search">
          <div class="row">
            <div class="col-sm-3">
              <h4 class="card-title">{{ObjectName}} List <span v-if="data.total">({{(data.total||0).format()}})</span></h4>
            </div>
            <div class="col-sm-5">
            </div>
            <div class="col-sm-3">
              <div class="has-feedback has-feedback-left">
                <input type="search" v-model="filter.search" class="form-control" placeholder="Type and hit Enter">
                <div class="form-control-feedback">
                  <i class="icon-search4 text-size-base text-muted"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-1">
              <button type="button" @click="resetSearch()" class="btn btn-warning btn-sm">Reset</button>
            </div>
          </div>
        </VForm>
      </div>
      <div class="table-responsive ajax-table">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th width="50px">#</th>
              <th>{{fields.s_name}}</th>
              <th width="120px">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(v,k) in data.data" :key="k">
              <td class="number">{{(data.per_page*(data.current_page-1))+k+1}}</td>
              <td>{{v.s_name}}</td>
              <td class="btn-action">
                <router-link class="icon_action" :to="{name:Name,params:{id:v.id}}" v-tooltip="'Edit'"><i class="icon-pencil"></i></router-link>
              </td>
            </tr>
            <tr v-if="NotFound">
              <td colspan="99">
                <h3 class="tc">{{NotFound}}</h3>
              </td>
            </tr>
            <tr v-if="data.data===false">
              <td colspan="99">
                <LoadingSpinner light></LoadingSpinner>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-body">
        <div class="pull-right">
          <Pagination :data="data" :limit="3" @pagination-change-page="onPaging"></Pagination>
        </div>
      </div>
    </div>

    <!-- ======================================================================== 
      FORM CRUD
    ============================================================================= -->
    <div class="card card-flat" v-if="$route.params.id">
      <VForm @resp="onSubmitForm" method="post">
        <div class="card-body card-form">
          <h4 class="card-title">{{(row.id?"Edit":"Add")+" "+ObjectName}}</h4>
        </div>
        <div class="card-body">
          <div class="info"></div>
          <div class="row">
            <div class="col-sm-6">
              <BoField name="s_name" :value="row.s_name" :attr="{disabled:true}"></BoField>
              <div v-if="row.s_type=='int'">
                <BoField name="s_values" label="Value" v-model="row.s_values" :attr="{type:'number'}">
                  <small class="help" slot="help">{{row.s_note}}</small>
                </BoField>
              </div>
            </div>

            <div class="col-sm-6">
              <BoField name="s_slug" :value="row.s_slug" :attr="{disabled:true}"></BoField>
            </div>

            <template v-if="row.s_type=='Lock_authorization'">
              <div class="col-sm-3">
                <BoField name="startdate">
                  <div class="input-group">
                    <DatePicker name="startdate" v-model="row.s_values.startdate" placeholder="Start Date" required></DatePicker>
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="icon-calender"></i></span>
                    </div>
                  </div>
                </BoField>
              </div>
              <div class="col-sm-3">
                <BoField name="enddate">
                  <div class="input-group">
                    <DatePicker name="enddate" v-model="row.s_values.enddate" placeholder="End Date" required></DatePicker>
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="icon-calender"></i></span>
                    </div>
                  </div>
                </BoField>
              </div>
              <div class="col-sm-3">
                <BoField name="Lock">
                  <div class="radio-group">
                    <Radio name="Status" v-model="row.s_values.Lock" :option="true">Active</Radio>
                    <Radio name="Status" v-model="row.s_values.Lock" :option="false">Inactive</Radio>
                  </div>
                </BoField>
              </div>
            </template>

            <template v-if="row.s_type=='eod'">
              <div class="col-sm-3">
                <BoField name="startdate">
                  <div class="input-group">
                    <DatePicker name="startdate" v-model="row.s_values.startdate" placeholder="Start Date" required></DatePicker>
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="icon-calender"></i></span>
                    </div>
                  </div>
                </BoField>
              </div>
              <div class="col-sm-3">
                <BoField name="Lock">
                  <div class="radio-group">
                    <Radio name="Status" v-model="row.s_values.Lock" :option="true">Active</Radio>
                    <Radio name="Status" v-model="row.s_values.Lock" :option="false">Inactive</Radio>
                  </div>
                </BoField>
              </div>
            </template>

            <div class="col-sm-12">
              <div class="text-right">
                <button type="button" @click="back()" class="btn btn-default mr5">Cancel</button>
                <button type="submit" class="fcbtn btn btn-info btn-outline btn-1e btn-loading">Submit form <i class="icon-arrow-right14 position-right"></i></button>
              </div>
            </div>
          </div>
        </div>
      </VForm>
    </div>
  </div>
</template>
