<script>
import Base from '@backend/Base.vue';
import BoConfig from '@config/BoConfig.js';
import BOGen from '@helper/BOGen.js';
import Gen from '../helper/Gen';

import "@backend/dist/css1/vendor/bootstrap/css/bootstrap.min.css"
import "@backend/dist/css1/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
import "@backend/dist/css1/vendor/animate/animate.css"
import "@backend/dist/css1/vendor/css-hamburgers/hamburgers.min.css"
import "@backend/dist/css1/vendor/select2/select2.min.css"
import "@backend/dist/css1/assets/css/util.css"
import "@backend/dist/css1/assets/css/main.css"


export default {
  extends: Base,
  data(){
    return {
      Name:"SignUp",
      PageName: "Sign Up",
      ObjectName: "Registrasi",
      NoList: true,
      Row: {},
      mrValidation:{
        Mail : "required|email",
        // Password : "required",
        FullName : "required",
        NickName : "required",
        Identity : "required|maxlength:16|minlength:16",
        MobileNumber : "required|maxlength:13|minlength:10",
        DateOfBirth : "required",
        MotherName : "required",
        Kode_AO: "required"
      },
    }
  },
  mounted(){
    this.$set(this.$root, 'page', this)
  },
  methods:{
    filterInput(e){
      e.target.value = e.target.value.replace(/[^0-9]+/g, '');
    },
    registerModal () {
        this.$router.push({name:"Login"})
    },
    ResetPasswordModal () {
        this.$router.push({name:"Forgot"})
    },
    submitForm(e){
      if(e.btnLoading()) return;
      BOGen.apirest("/SignUp", this.row, (err, resp)=>{
        e.btnUnloading()
        if(err){
          swal({ icon: 'error',title: 'Ooops..!!', text: err.json.message});
          return console.error(err.json.message);
        }
        
         swal(resp.message, "", "success").then(()=>{
            this.$router.push({name:"Login"})
            this.row = {}
            $("body,html").animate({scrollTop:0}, 300)
          })
      }, 'POST')
    },
  }
}
</script>

<template>
  <div class="limiter">
    <div class="container-register">
			<div class="wrap-register">
				<div class="register-pic js-tilt" data-tilt>
          <img :src="assets('images','Register.png')" alt="JPG" />
				</div>

        <VForm @resp="submitForm" method="post" class="register-form validate-form">
          <span class="register-form-title">
            {{ObjectName}}
          </span>
              <div class="info"></div>
              <div class="wrap-input100 validate-input">
                <input type="email" name="Mail" v-model="row.Mail" class="input100" v-bind="validation('Mail')" placeholder="Email"> 
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
              </div>

              <div class="wrap-input100 validate-input">
                <input type="text" name="FullName" v-model="row.FullName" class="input100" v-bind="validation('FullName')" placeholder="Nama Lengkap">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </span>
              </div>

              <div class="wrap-input100 validate-input">
                <input type="text" name="NickName" v-model="row.NickName" class="input100" v-bind="validation('NickName')" placeholder="Nama Singkat">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </span>
              </div>

              <div class="wrap-input100 validate-input">
                <input class="input100" type="tel" name="Identity" v-model="row.Identity" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" v-bind="validation('Identity')" placeholder="No. KTP harus di isi">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                  <i class="fa fa-indent" aria-hidden="true"></i>
                </span>
              </div>

              <div class="wrap-input100 validate-input">
              <input class="input100" type="tel" name="MobileNumber" v-model="row.MobileNumber" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"  v-bind="validation('MobileNumber')" placeholder="No. HP harus di isi">
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </span>
            </div>
           
            <div class="wrap-input100 validate-input">
              <DatePicker name="DateOfBirth" v-model="row.DateOfBirth" dateType="DateOfBirth" v-bind="validation('DateOfBirth')"  placeholder="Tanggal Lahir" class="input100"></DatePicker>
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </span>
            </div>

            <div class="wrap-input100 validate-input">
              <input type="text" name="MotherName" v-model="row.MotherName" class="input100" v-bind="validation('MotherName')" placeholder="Nama Ibu Kandung">
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-user" aria-hidden="true"></i>
              </span>
            </div>

            <div class="wrap-input100 validate-input">
              <input type="text" name="Kode_AO" v-model="row.Kode_AO" class="input100" v-bind="validation('Kode_AO')" placeholder="Kode AO">
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-barcode" aria-hidden="true"></i>
              </span>
            </div>

              <div class="container-register-form-btn">
                <button type="button" @click="back()" class="register-form-btn">Cancel</button>
              </div>
              <div class="container-register-form-btn">
                <button type="submit"  class="register-form-btn">Submit</button>
              </div>

              <div class="text-center p-t-12">
              <span class="txt1">
                Sudah punya akun ?
              </span>
              <button type="button" class="txt2" v-on:click="registerModal">| Login</button>
              </div>

              <div class="text-center p-t-136">
                <button type="button" class="txt2" v-on:click="ResetPasswordModal">Lupa Password?</button>
              </div> 
        </VForm>
      </div>
    </div>
  </div>
</template>