<script>
import "@plugins/clockpicker/jquery-clockpicker.min.css"
import "@plugins/clockpicker/jquery-clockpicker.min.js"

export default {
  props: {
    value: [String],
    config: Object,
  },
  mounted: function () {
    setTimeout(()=>{ this.init() },100);
  },
  methods:{
    init(){
      var option = {
        donetext: 'Done',
      }
      $(this.$el).clockpicker(Object.assign(option,this.config||{})).change((e)=>{
        this.$emit('input', e.target.value)
        $(this.$el).valid()
      });
    }
  },
  watch: {
    // value: function (v) {
    //   if(!v) return $(this.$el).datepicker("update", "");
    //   $(this.$el).datepicker("update", v)
    // }
  }
}
</script>

<template>
  <input type="text" class="form-control">
</template>
