/* ==================
  Helper
===================== */
.m0{ margin: 0px !important; }
.mr10{ margin-right: 10px !important; }
.mt5{ margin-top: 5px !important; }
.mt10{ margin-top: 10px !important; }
.mt15{ margin-top: 15px !important; }
.mt25{ margin-top: 25px !important; }
.mt30{ margin-top: 30px !important; }
.mb5{ margin-bottom: 5px !important; }
.mb10{ margin-bottom: 10px !important; }
.mb15{ margin-bottom: 15px !important; }
.mb25{ margin-bottom: 25px !important; }
.mb30{ margin-bottom: 30px !important; }
.mr5{ margin-right: 5px !important; }
.mr10{ margin-right: 10px !important; }
.mr15{ margin-right: 15px !important; }
.mr25{ margin-right: 25px !important; }
.mr30{ margin-right: 30px !important; }
.ml5{ margin-left: 5px !important; }
.ml10{ margin-left: 10px !important; }
.ml15{ margin-left: 15px !important; }
.ml25{ margin-left: 25px !important; }
.ml30{ margin-left: 30px !important; }
.nw{ white-space: nowrap !important; }
.tc{ text-align: center !important; }
.tr{ text-align: right !important; }
.block{ display: block !important; }

/* Uploader */
.upload-container{
	.image-preview{
		display: inline-block;
		vertical-align: middle;
	}
}

.datepicker{
  z-index: 99 !important;
}

.imagesview {
  background-color: transparent;
  width:100%;
  margin: 0 auto;
}

/* Zoom Image */
.zoom {
  padding: 50px;
  background-color: transparent;
  transition: transform .2s; /* Animation */
  max-width: 50%;
  min-width:100%;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* Spinner */
.loading-spinner {
  width: 50px; text-align: center; position: relative; margin:auto;
  .bounce1 { -webkit-animation-delay: -0.32s; -moz-animation-delay: -0.32s; animation-delay: -0.32s; }
  .bounce2 { -webkit-animation-delay: -0.16s; -moz-animation-delay: -0.16s; animation-delay: -0.16s; }
}
.loading-spinner > div { width: 12px; height: 12px; background-color: #fff;  border-radius: 100%; display: inline-block; -webkit-animation: bouncedelay 0.7s infinite ease-in-out; -moz-animation: bouncedelay 0.7s infinite ease-in-out; animation: bouncedelay 0.7s infinite ease-in-out; -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both; animation-fill-mode: both; }
.loading-spinner.loading-spinner-md > div { width: 16px; height: 16px; }
.loading-spinner.loading-spinner-lg{ width: 80px; }
.loading-spinner.loading-spinner-lg > div { width: 24px; height: 24px; }
.loading-spinner.light > div { background-color: #000; }
@keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
@-moz-keyframes bouncedelay {
  0%, 80%, 100% { -moz-transform: scale(0.0) }
  40% { -moz-transform: scale(1.0) }
}

.div50{
  display: inline-block;
  width: 50%;
}

span.error{
  display: inline-block;
  margin-top: 5px;
  color: #FB5858 !important;
}
.swal-footer{
  text-align: center;
}

/* Uploader */
.upload-container{
  .image-preview .btn{
    margin-right: 5px;
  }
  .upload-btn{
    position: relative;
  }
  [type=file]{
    position: absolute;
    display: inline-block;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    cursor: pointer;
  }
}

.table.nowrap{
  td,th{
    white-space: nowrap;
  }
}