<script>
import Gen from "@helper/Gen.js"

export default {
  props: {
    name: String,
    attr: Object,
    option: [Boolean,String,Number],
    checked: String,
    value: [Boolean,String,Number,Array],
    validate: {default:""},
    disabled: Boolean,
    array: [Boolean],
  },
  computed:{
    input(){
      if(!this.array||!this.value) return this.value
      return this.value.indexOf(this.option) > -1 ? this.option : ""
    }
  },
  methods:{
    onClick(){
      if($(this.$el).find('input').attr('disabled')) return
      if(!this.array){
        this.$emit('input', !this.input)
      }else{
        var values = Gen.clone(this.value)
        if(!this.input){
          if(!Array.isArray(values)) values = []
          values.push(this.option)
          this.$emit("input", values)
        }else{
          values.splice(values.indexOf(this.input),1)
          this.$emit("input", values)
        }
      }
      setTimeout(()=>$(this.$el).find("input").valid(), 10)
    }
  },
  watch:{
    input(v){ if(!this.array) this.$emit("input", v); },
  }
}
</script>

<template>
  <div class="inline checkbox checkbox-info" @click="onClick">
    <input type="checkbox" v-model="input" :name="name" :value="option" v-bind="attr">
    <label><slot></slot></label>
  </div>
</template>