<script>
import 'vue-croppa/dist/vue-croppa.css';

import env from '@root/env';

export default {
  props: {
    name: String,
    value: String,
    path: String,
    required: Boolean,
    attr: Object,
    accept: String,
    uniq: Boolean,
    uploadText: {default: "Upload File"},
  },
  data: function () {
    return {
      param: {uniq:false},
      uploading: false,
      error: false,
      resp: {},
      fileData: {},
      fileType: "",
    }
  },
  computed:{
    page(){ return this.$root.page },
    Accept(){
      if(this.accept=="image") return "image/*"
      if(this.accept=="docs") return ".doc,.docx,.pdf,.xls,.xlsx,.zip"
      if(this.accept=="excel") return ".xls,.xlsx"
      return this.accept
    },
    uploader(){
      return {
        max_image_size: 5000000
      }
    }
  },
  mounted: function () {
    this.init()
  },
  methods: {
    init(){
      global.Uploader = this
      this.elFile = $(this.$el).find('[type="file"]')
      this.param.path = this.path
      if(this.uniq) this.param.uniq = true
    },
    onUpload: function (e) {
      this.fileData = 
      this.fileData = this.elFile.prop('files')[0];
      this.fileType = this.fileData.name.substr(this.fileData.name.lastIndexOf('.') + 1).toLowerCase();
      if (["jpg","jpeg","png","gif"].indexOf(this.fileType) > -1){
        var reader = new FileReader();
        reader.onload = () => {
          var img = new Image;
          img.onload = () => {
            this.img = img
            this.uploadProcess(e)
          }
          img.src = reader.result
        };
        reader.readAsDataURL(this.fileData);
      }else{
        this.uploadProcess(e)
      }
    },
    uploadProcess: function(e){
      // Validation
      this.error = false;
      // if (this.conf['rule_type'].indexOf(this.fileType) == -1) {
      // 	this.error = 'File type must be ' + this.conf['rule_type'] + ' type.';
      // }
      if (this.fileData.size > this.uploader['max_image_size']) {
      	this.error = 'Max file size is '+this.uploader['max_image_size'].bytesToSize();
      }
      // if (this.conf.rule_size) if(this.img.naturalWidth<this.conf.rule_size[0]||this.img.naturalHeight<this.conf.rule_size[1]){
      // 	this.error = 'Minimum image size is '+this.conf.rule_size[0]+"x"+this.conf.rule_size[1]
      // }
      if (this.error) return alert(this.error);
      var formData = new FormData();
      formData.append('file', this.fileData);
      $.each(this.param, (k, v) => {
        formData.append(k, v);
      });

      this.uploading = true
      $.ajax({
        url: env.baseUrl + "/api/uploader",
        type: "POST",
        data: formData,
        enctype: 'multipart/form-data',
        processData: false, // tell jQuery not to process the data
        contentType: false // tell jQuery not to set contentType
      }).done((resp) => {
        this.resp = resp
        setTimeout(()=>{ this.uploading = false; }, 3000)
        this.$emit('input', resp.filetarget)
        fileurl
        this.$emit('response', this)
        this.valid()
      });
    },
    valid(){
      setTimeout(()=>{ $(this.$el).find(".image-preview input").valid() }, 100)
    },
    removeFile(){
      this.$emit("input", "")
      $(this.$el).find("[type=file]").val("").trigger("change")
      this.resp = {}
    }
  },
  watch:{
    type(){
      setTimeout(()=>{ this.init() },300)
    }
  }
}
</script>

<template>
  <div class="upload-container">
    <slot name="preview">
      <div class="image-preview">
        <div>
          <img :src="page.uploader(value)" class="zoom">
          <input type="hidden" :name="name" :value="value" v-bind="attr">
        </div>
      </div>
    </slot>
    
    <div>
      <a href="javascript:;" class="btn btn-info upload-btn">
        <span class="upload-label">
          <slot v-if="!uploading" name="label" :uploadText="uploadText"><i class="ti-file"></i> {{value?"Update File":uploadText}}</slot>
          <span v-if="uploading">Uploading...</span>
        </span>
        <input type="file" @change="onUpload" :id="name" :accept="Accept">
      </a>
    </div>
    <p v-if="resp.file" class="mt5 mb5">File : {{resp.file}} 
      <button v-if="resp.file" type="button" class="btn btn-danger btn-xs ml5" @click="removeFile"><i class="fa fa-times"></i></button>
    </p>
    <span class="help-block">
      <small>Accepted formats : {{Accept}}. Max file size {{uploader["max_image_size"].bytesToSize()}}</small>
    </span>
  </div>
</template>