<script>
import Gen from '@helper/Gen';

// import "@backend/dist/css1/vendor/bootstrap/css/bootstrap.min.css"
// import "@backend/dist/css1/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
// import "@backend/dist/css1/vendor/animate/animate.css"
// import "@backend/dist/css1/vendor/css-hamburgers/hamburgers.min.css"
// import "@backend/dist/css1/vendor/select2/select2.min.css"
// import "@backend/dist/css1/assets/css/util.css"
// import "@backend/dist/css1/assets/css/main.css"

export default {
  props:{
    name:String,
    value:String,
    attr:{default:()=>({type:"text"})},
    label:String,
    mandatory:Boolean,
    col:{default:false},
    keyFilter: String,
  },
  data(){
    return {
      input: this.value,
    }
  },
  computed:{
    page(){ return this.$root.page },
    fields(){ return this.$root.fields },
    attrBind(){
      var attr = Gen.clone(this.attr)
      attr.placeholder = attr.placeholder || this.fields[this.name]
      return Object.assign(this.page.validation(this.name),attr)
    },
    labelCol(){ return this.col ? 'tr col-sm-'+(this.labelcol || 2) : '' },
    Col(){ return this.col ? 'col-sm-'+(this.col || 10) : '' },
  },
  methods:{
    labelValue(){
      if(this.label) return this.label
      return this.fields[this.name]
    },
    keyFilterBind(){ return this.keyFilter?'return '+this.keyFilter+'(event)':'' },
  },
  watch:{
    input(v){ this.$emit("input", v) },
    value(v){ this.input = v },
  }
}
</script>

 <!-- <template>
   <div class="wrap-input100 validate-input">
     <div :class="Col">
       <slot>
         <input  v-model="input" :name="name" :id="name" class="input100" :onKeypress="keyFilterBind()" v-bind="attrBind" />
         <span class="focus-input100"></span>
       </slot>
       <slot name="help"></slot>
     </div>
   </div>
 </template> -->

<template>
  <div class="form-group">
    <slot name="label">
      <label :class="labelCol" :for="name">{{labelValue()}} <span v-if="page.validation(name).required||mandatory" class="text-danger">*</span></label>
    </slot>
    <div :class="Col">
      <slot>
        <input v-model="input" :name="name" :id="name" class="form-control" :onKeypress="keyFilterBind()" v-bind="attrBind" />
      </slot>
      <label v-if="name" :error="name" :label="labelValue()"></label>
      <slot name="help"></slot>
    </div>
  </div>
</template>


<style lang="scss" scoped>
label[error]{
  display: block;
}
</style>


