<script>
import "@plugins/fancybox/jquery.fancybox.css"
import "@plugins/fancybox/jquery.fancybox.js"

export default {
  props: {
    title: {default:"Image Preview"},
    rel: String,
    src: String,
    label: String,
  },
  computed:{
    uploader(){ return this.$root.page.uploader },
    Title(){ return this.isImage ? this.title : "File Preview" },
    isImage(){ return ["jpeg","jpg","png","gif"].indexOf(this.src.split(".")[1])>-1 }
  },
  mounted: function(){
    if(!this.rel){
      $(this.$el).fancybox();
    }else{
      setTimeout(()=>{
        $("[rel="+this.rel+"]").fancybox();
      }, 300)
    }
    // Check is docs
    if(["jpeg","jpg","png","gif"].indexOf(this.src.split(".")[1])==-1){
      
    }
  },
}
</script>

<template>
 <a :href="src" :rel="rel" :target="isImage?false:'_blank'" class="btn btn-info" v-tooltip="Title"><i :class="{'ti-image':isImage,'ti-file':!isImage}"></i><slot></slot></a>
</template>

