<script>
export default {
  props:{
    button: Boolean,
    data: Array,
    k: Number,
  },
  computed:{
    datas(){
      return this.data ? this.data : this.$root.page.data.data
    }
  },
  methods:{
    up(){
      if(this.k<=0) return;
      this.datas.swap(this.k, this.k-1)
      this.$emit("change", this)
    },
    down(){
      if(this.k>=this.datas.length-1) return;
      this.datas.swap(this.k, this.k+1)
      this.$emit("change", this)
    }
  }
}
</script>

<template>
  <div>
    <button v-if="!button" class="btn btn-default btn-sm sortHandle"><i class="fa fa-align-justify"></i></button>
    <template v-else>
      <a href="javascript:;" @click="up"><i class="fa fa-arrow-up"></i></a>
      <a href="javascript:;" @click="down"><i class="fa fa-arrow-down"></i></a>
    </template>
  </div>
</template>
