<script>
export default {
    props:{
        type:String,
        obj:{default:()=>{return {}}},
        status:[String,Boolean],
    },
    computed:{
        page(){ return this.$root.page },
        data(){
            if(this.obj.status){
                if(this.obj.status=="ACTIVE") return {style:"success",label:"ACTIVE"}
                if(this.obj.status=="PENDING") return {style:"warning",label:"PENDING"}
                if(this.obj.status=="INACTIVE") return {style:"warning",label:"INACTIVE"}
                if(this.obj.status=="Menunggu Pembayaran") return {style:"warning",label:"Menunggu Pembayaran"}
                if(this.obj.status=="Pembayaran sudah Diverifikasi") return {style:"success",label:"Pembayaran sudah Diverifikasi"}
                if(this.obj.status=="Gagal Pembayaran") return {style:"danger",label:"Gagal Pembayaran"}
                if(this.obj.status=="Menunggu Verifikasi")return {style:"warning",label:"Menunggu Verifikasi"}
                if(this.obj.status=="Tidak Disetujui") return {style:"danger",label:"Tidak Disetujui"}
				if(this.obj.status=="Pembayaran telah Expired") return {style:"danger",label:"Pembayaran telah Expired"}
                if(this.obj.status=="Sukses Pembukaan Nasabah") return {style:"success",label:"Sukses Pembukaan Nasabah"}
                if(this.obj.status=="Gagal Pembukaan Nasabah") return {style:"danger",label:"Gagal Pembukaan Nasabah"}
                if(this.obj.status=="Sukses Pembukaan Rekening") return {style:"success",label:"Sukses Pembukaan Rekening"}
                if(this.obj.status=="Gagal Pembukaan Rekening") return {style:"danger",label:"Gagal Pembukaan Rekening"}
                if(this.obj.status=="Gagal Pembuatan VA") return {style:"denger",label:"Gagal Pembuatan VA"}

                if(this.obj.status=="Belum diproses")return {style:"warning",label:"Belum diproses"}
                if(this.obj.status=="Dalam proses")return {style:"warning",label:"Dalam proses"}
                if(this.obj.status=="Payment Sukses") return {style:"success",label:"Payment Sukses"}
                if(this.obj.status=="Payment Reserval") return {style:"success",label:"Payment Reserval"}
                if(this.obj.status=="Tagihan tidak ditemukan") return {style:"danger",label:"Tagihan tidak ditemukan"}
                if(this.obj.status=="Payment Cancelled") return {style:"danger",label:"Payment Cancelled"}
                if(this.obj.status=="Unknown") return {style:"danger",label:"Unknown"}
                if(this.obj.status=="Payment Expired") return {style:"danger",label:"Payment Expired"}
                if(this.obj.status=="Register CIF") return {style:"success",label:"Register CIF"}

            }[this.status.toUpperCase()]
            
            return this.status ?  {style:"success",label:"Active"} : {style:"warning",label:"Inactive"}
        }
    }
}
</script>

<template>
    <label :class="'label label-'+(data||{}).style">{{(data||{}).label}}</label>
</template>