<script>
import "./bootstrap-datepicker/bootstrap-datepicker.min.css"
import "./bootstrap-datepicker/bootstrap-datepicker.min.js"

export default {
  props: {
    value: [String],
    dateType: [String],
    config: Object,
  },
  mounted: function () {
    setTimeout(()=>{ this.init() },100);
  },
  methods:{
    init(){
      var option = {
        format: "dd-mm-yyyy",
        autoclose: true
      }
      if(this.dateType=="dob") option = {
        orientation: "bottom",
        autoclose: true,
        endDate: '-1m',
      }
      if(this.dateType=="DateOfBirth") option = {
        orientation: "bottom",
        autoclose: true,
      }
      if(this.dateType=="StartDateIdentity") option = {
        orientation: "bottom",
        autoclose: true,
      }
      if(this.dateType=="EndDateIdentity") option = {
        orientation: "bottom",
        autoclose: true,
      }
      $(this.$el).datepicker(Object.assign(option,this.config||{})).change((e)=>{
        this.$emit('input', e.target.value)
        $(this.$el).valid()
      });
      if(this.value) $(this.$el).datepicker('update', this.value)
    }
  },
  watch: {
    value: function (v) {
      if(!v) return $(this.$el).datepicker("update", "");
      $(this.$el).datepicker("update", v)
    }
  }
}
</script>

 <!-- <template>
  <input type="text" class="input100" autocomplete="off">
</template>-->

<template>
  <input type="text" class="form-control" autocomplete="off">
</template>
