<script>
import GlobalVue from '@root/helper/Global.vue';
import "@backend/dist/js/sidebarmenu.js";
import BoConfig from '@root/config/BoConfig';
var $ = window.$

export default {
  name: "SideBar",
  extends: GlobalVue,
  data(){
    return {
      show: false,
    }
  },
  computed:{
    menus(){
      return BoConfig.sidebar
    }
  },
  mounted(){
    setTimeout(()=>{ this.init() }, 10)
  },
  methods:{
    init(){
      $("#sidebarnav .child2").each((k,el)=>{
        if(!$(el).find("a").length){
          $(el).closest("li").remove()
        }
      })
      $("#sidebarnav .child1").each((k,el)=>{
        if(!$(el).find("a").length){
          $(el).closest("li").remove()
        }
      })
      this.initActive()
      this.show = true
    },
    initActive(){
      $("#sidebarnav li").removeClass("active")
      $(".router-link-exact-active").closest("li").addClass("active")
      $(".router-link-exact-active").closest('.child1').closest("li").addClass("active")
    },
    logout(){
      this.page.logout()
    },
    linkRoute(link){
      let l = this.$router.resolve({name: link});
      if( l.resolved.matched.length > 0) return {name:link}
      return {path:link}
    },
    haveTargetBlank(link){
      if(link.indexOf("http")==-1) return false
      return link.indexOf(location.host)>-1 ? false : "_blank"
    },
    isShow(v){
      if(v.link == "#") return true
      return this.isMenu(v.link)
    }
  },
  watch:{
    "$route.path"(v){
      setTimeout(()=>{ this.initActive() }, 30)
    }
  }
}
</script>

<template>
  <aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav" v-show="show">
          <li class="user-pro">
            <a class="has-arrow waves-effect waves-dark" href="javascript:;" aria-expanded="false">
              <span class="hide-menu">{{user.FullName}} ({{user.NickName}})</span>
            </a>
            <ul aria-expanded="false" class="collapse">
              <li><a href="javascript:;" @click="logout()"><i class="fa fa-power-off"></i> Logout</a></li>
            </ul>
          </li>
          <li class="nav-small-cap">--- Navigation Menu</li>
          <li v-for="(v,k) in menus" :key="k">
            <router-link v-if="!v.childs&&isShow(v)" class="waves-dark" :to="linkRoute(v.link)"><i :class="v.icon"></i>
              <span class="hide-menu">{{v.name}}
                <!-- <span class="badge badge-pill badge-cyan ml-auto">4</span> -->
              </span>
            </router-link>
            <template v-else-if="v.childs">
              <a class="has-arrow waves-effect waves-dark" href="javascript:;" aria-expanded="false">
                <i :class="v.icon"></i>
                <span class="hide-menu">{{v.name}}</span>
              </a>
              <ul aria-expanded="false" class="collapse child1">
                <li v-for="(v2,k2) in v.childs" :key="k2" :disabled="v2.withLock&&isLockAuthorization">
                  <a v-if="v2.withLock&&isLockAuthorization"> {{v2.name}}</a>
                  <router-link v-else-if="!v2.childs&&isShow(v2)" :to="linkRoute(v2.link)"> {{v2.name}}</router-link>
                  <template v-else-if="v2.childs">
                    <a class="has-arrow waves-effect waves-dark" href="javascript:;" aria-expanded="false">
                      <span class="hide-menu">{{v2.name}}</span></a>
                    <ul aria-expanded="false" class="collapse child2">
                      <li v-for="(v3,k3) in v2.childs" :key="k3">
                        <router-link v-if="isShow(v3)" :to="linkRoute(v3.link)"> {{v3.name}}</router-link>
                      </li>
                    </ul>
                  </template>
                </li>
              </ul>
            </template>
          </li>
        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
</template>