.sidebar-nav ul li a {
  color: #333;
}

.logo_img{
  display: inline-block;
  margin-right: 15px;
}

.txt_mandatory {
  color: red;
  margin-left: 3px;
  font-size: 12px;
}

.custom-select {
  border: 1px solid #ccc !important;
}

.form-control {
  border: 1px solid #ccc !important;
}

.mb0{ margin-bottom: 0px !important; }

.sortHandle{
  cursor: move;
}
a:hover{
  color: #129cda;
}

/* =============
   Checkbox and Radios
============= */
.checkbox {
  vertical-align: top;
  padding-left: 20px;
}

.checkbox label {
  display: inline-block;
  padding-left: 5px;
  position: relative;
}

.checkbox label::before {
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  background-color: #e3e3e3;
  border-radius: 3px;
  // border: 1px solid #ccc;
  content: "";
  display: inline-block;
  height: 17px;
  left: 0;
  margin-left: -20px;
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 17px;
  outline: none !important;
}

.checkbox label::after {
  color: #2b2b2b;
  display: inline-block;
  font-size: 11px;
  height: 16px;
  left: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  position: absolute;
  top: 0;
  width: 16px;
}

.checkbox input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important;
}

.checkbox input[type="checkbox"]:disabled+label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:focus+label::before {
  outline-offset: -2px;
  outline: none;
  outline: thin dotted;
}

.checkbox input[type="checkbox"]:checked+label::after {
  content: "\f00c";
  font-family: 'FontAwesome';
}

.checkbox input[type="checkbox"]:disabled+label::before {
  background-color: #e4e7ea;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox.checkbox-single label {
  height: 17px;
}

.checkbox-primary input[type="checkbox"]:checked+label::before {
  background-color: #ab8ce4;
  border-color: #ab8ce4;
}

.checkbox-primary input[type="checkbox"]:checked+label::after {
  color: #ffffff;
}

.checkbox-danger input[type="checkbox"]:checked+label::before {
  background-color: #fb9678;
  border-color: #fb9678;
}

.checkbox-danger input[type="checkbox"]:checked+label::after {
  color: #ffffff;
}

.checkbox-info input[type="checkbox"]:checked+label::before {
  background-color: #d50000;
  border-color: #d50000;
}

.checkbox-info input[type="checkbox"]:checked+label::after {
  color: #ffffff;
}

.checkbox-warning input[type="checkbox"]:checked+label::before {
  background-color: #fec107;
  border-color: #fec107;
}

.checkbox-warning input[type="checkbox"]:checked+label::after {
  color: #ffffff;
}

.checkbox-success input[type="checkbox"]:checked+label::before {
  background-color: #00c292;
  border-color: #00c292;
}

.checkbox-success input[type="checkbox"]:checked+label::after {
  color: #ffffff;
}

.checkbox-purple input[type="checkbox"]:checked+label::before {
  background-color: #9675ce;
  border-color: #9675ce;
}

.checkbox-purple input[type="checkbox"]:checked+label::after {
  color: #ffffff;
}

.checkbox-red input[type="checkbox"]:checked+label::before {
  background-color: #fb9678;
  border-color: #fb9678;
}

.checkbox-red input[type="checkbox"]:checked+label::after {
  color: #ffffff;
}

.checkbox-inverse input[type="checkbox"]:checked+label::before {
  background-color: #4c5667;
  border-color: #4c5667;
}

.checkbox-inverse input[type="checkbox"]:checked+label::after {
  color: #ffffff;
}

/* Radios */
.radio {
  padding-left: 20px;
}

.radio label {
  display: inline-block;
  padding-left: 5px;
  position: relative;
}

.radio label::before {
  -o-transition: border 0.5s ease-in-out;
  -webkit-transition: border 0.5s ease-in-out;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #ccc;
  content: "";
  display: inline-block;
  height: 17px;
  left: 0;
  margin-left: -20px;
  position: absolute;
  transition: border 0.5s ease-in-out;
  width: 17px;
  outline: none !important;
}

.radio label::after {
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -o-transition: -o-transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -webkit-transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  background-color: #2b2b2b;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 7px;
  left: 5px;
  margin-left: -20px;
  position: absolute;
  top: 5px;
  transform: scale(0, 0);
  transition: transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  width: 7px;
}

.radio input[type="radio"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important;
}

.radio input[type="radio"]:disabled+label {
  opacity: 0.65;
}

.radio input[type="radio"]:focus+label::before {
  outline-offset: -2px;
  outline: 5px auto -webkit-focus-ring-color;
  outline: thin dotted;
}

.radio input[type="radio"]:checked+label::after {
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.radio input[type="radio"]:disabled+label::before {
  cursor: not-allowed;
}

.radio.radio-inline {
  margin-top: 0;
}

.radio.radio-single label {
  height: 17px;
}

.radio-primary input[type="radio"]+label::after {
  background-color: #ab8ce4;
}

.radio-primary input[type="radio"]:checked+label::before {
  border-color: #ab8ce4;
}

.radio-primary input[type="radio"]:checked+label::after {
  background-color: #ab8ce4;
}

.radio-danger input[type="radio"]+label::after {
  background-color: #fb9678;
}

.radio-danger input[type="radio"]:checked+label::before {
  border-color: #fb9678;
}

.radio-danger input[type="radio"]:checked+label::after {
  background-color: #fb9678;
}

.radio-info input[type="radio"]+label::after {
  background-color: #d50000;
}

.radio-info input[type="radio"]:checked+label::before {
  border-color: #d50000;
}

.radio-info input[type="radio"]:checked+label::after {
  background-color: #d50000;
}

.radio-warning input[type="radio"]+label::after {
  background-color: #fec107;
}

.radio-warning input[type="radio"]:checked+label::before {
  border-color: #fec107;
}

.radio-warning input[type="radio"]:checked+label::after {
  background-color: #fec107;
}

.radio-success input[type="radio"]+label::after {
  background-color: #00c292;
}

.radio-success input[type="radio"]:checked+label::before {
  border-color: #00c292;
}

.radio-success input[type="radio"]:checked+label::after {
  background-color: #00c292;
}

.radio-purple input[type="radio"]+label::after {
  background-color: #9675ce;
}

.radio-purple input[type="radio"]:checked+label::before {
  border-color: #9675ce;
}

.radio-purple input[type="radio"]:checked+label::after {
  background-color: #9675ce;
}

.radio-red input[type="radio"]+label::after {
  background-color: #fb9678;
}

.radio-red input[type="radio"]:checked+label::before {
  border-color: #fb9678;
}

.radio-red input[type="radio"]:checked+label::after {
  background-color: #fb9678;
}

.radio,.checkbox{
  &.inline{
    padding-left: 8px;
    display: inline-block;
    margin-right: 10px;
  }
  label{
    cursor: pointer;
  }
}

.skin-megna .topbar {
  background: #d50000;
}


.topbar .top-navbar .profile-pic span {
  color: #000 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #000 !important;
}

.skin-megna .topbar {
  background: #fff;
}


.left-sidebar {
  background: #d50000;
}

.sidebar-nav ul li a {
  color: #fff;
}

.sidebar-nav>ul>li>a i {
  color: #fff !important;
}
.sidebar-nav > ul > li.active > a{
  color: #fff !important;
}

.skin-megna .sidebar-nav ul li a:hover i {
  color: #f33f08 !important;
}

.topbar .top-navbar .navbar-header {
  background: #fff;
}

.sidebar-nav ul li ul li a {
  color: #000;
}

.card-header {
  padding: .5rem 1.25rem;
  background-color: rgba(0, 0, 0, .03);
}

.navbar-brand img {
  width: 100%;
  height: 50px;
  margin-left: 5px;
  margin-left: 5px;
  /* float: left; */
  display: inline-block;
}

.navbar-brand span {
  font-size: 20px;
  color: #000;
  margin-left: 10px;
  // float: right;
  font-family: "Poppins", sans-serif;
}

.navbar-brand span strong {

  font-weight: 500;
}

.horizontal-nav .sidebar-nav #sidebarnav{
  >li:hover>a, >li.active>a {
    background: #801336;
  }
}

.sidebar-nav ul li a:hover {
  color: #fff;
}

.skin-megna .sidebar-nav ul li a:hover span {
  color: #fff;
}



.skin-megna .sidebar-nav ul li a:hover i {
  color: #fff !important;
}

.table td,
.table th {
  font-size: 14px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.color-bordered-table.info-bordered-table thead th {
  background-color: #01c0c8;
  color: #fff;
  vertical-align: top;
}

.skin-megna .sidebar-nav>ul>li.active>a {
  color: #fff;
  border-color: #fff !important;
}


.horizontal-nav .sidebar-nav #sidebarnav li {
  a:hover{
    color: black;
  }
}

.form-bordered .form-group {
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 5px;
}

.form-horizontal label {
  color: #000;
}

.customtab li a.nav-link.active,
.profile-tab li a.nav-link.active {
  border-bottom: 2px solid #801336;
  color: #801336;
  font-weight: 600;
}

.customtab li a.nav-link:hover {
  color: #801336;
}

.col_no {
  width: 3% !important;
  max-width: 3% !important;
}

.feeds strong {
  font-weight: 600;
}

.table td,
.table th {
  color: #000;
}

.label {
  line-height: 16px !important;
}



.horizontal-nav .sidebar-nav #sidebarnav li ul li a:hover span {
  color: black !important;
}

.bg_cover_ds {
  background-image: url('images/1.jpg') no-repeat;

}

.bg_cover_mb {
  background-image: url('images/1.jpg');
  background-size: cover;
}

.login-register .form-control {
  border: 1px solid #fff !important;
}

.pad_left_10 {
  padding-left: 20px !important;
}

.wrap_checklist {
  position: relative;
  padding-left: 20px;
  padding-bottom: 10px;
}

.martop_5 {
  margin-top: 15px;
}

.borbot {
  border-bottom: 1px solid #eee;
}

.custom-control-label {
  margin-bottom: 10px;
}

.tab-content .table thead {
  background: #f1f1f1;
}

.customtab li a.nav-link {
  font-weight: 500;
}

.preloader {
  background: rgba(255, 255, 255, 0.5)
}

.topbar .navbar-collapse {
  background: #fff;
}

.page-item {
  .page-link {
    color: #801336;

    &:hover {
      color: #801336;
    }
  }

  &.active {
    .page-link {
      color: #fff;
      background-color: #801336;
      border-color: #801336;
    }
  }
}

.btn[disabled]{
  cursor: no-drop;
}

.btn-action {
  .icon_action {
    border: 1px solid #bbb;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 3px;
    padding: 2px 5px;
    border-radius: 3px;
    color: #d50000;
    &.success{
      color: #801336;
    }
    &.danger{
      color: #FB5858;
    }

    &:last-child {
      margin-right: 0px;
    }
    &.btn{
      color: #eee;
    }
  }
}
.card-form{
  border-bottom: 1px solid #cfcfcf;
  .card-title{
    margin: 0px;
  }
}
label{
  &[error]{
    margin: 0px;
  }
  &.error{
    margin-top: 5px;
    margin-bottom: 0px;
    color: #FB5858 !important;
  }
  &.error{
    display: none;
  }
}
.ajax-table{
  .label{
    margin: 0px;
  }
}
.fixed-sidebar{
  .top-navbar{
    margin-bottom: 64px;
  }
}
.table{
  th,td{
    padding: 5px 5px;
  }
}

.select2-container{
  width: 100% !important;
  padding: 0px;
  .select2-choice{
    padding: 2px 10px !important;
    line-height: 22px !important;
    border-radius: 3px !important;
  }
  .select2-choices{
    padding: 2px 10px !important;
    line-height: 16px !important;
    border-radius: 3px !important;
    background-color: transparent !important;
    padding: 0px !important;
    .select2-search-choice{
      padding: 3px 5px 3px 18px !important;
    }
  }
  .select2-search-choice{
    padding: 5px 5px 5px 18px !important;
  }
  &.error .select2-choice{
    border-radius: 3px !important;
    border: 1px solid #FB5858 !important;
  }
  .select2-selection__choice{
    color: #333 !important;
  }
}


.wrap_table {
  position: relative;
  padding: 20px 30px;
}

.wrap_note_container {
  border-radius: 5px;
  position: relative;
  border: 1px solid #eee;
  margin-top: 10px;
  padding: 10px;
}
.wrap_note_container p {
  margin-bottom: 0;
}

.feeds li.unread_bg {
  background-color: #eee !important;
}

a.link {
  color: #d50000;
  text-decoration: underline;
}

.select2-container--default .select2-selection--single {
  border-color: #ccc !important;
  height: 38px;
}

.form-horizontal label {
  color: #000;
  font-weight: 500;
}

.wrap_wording_cta {
  position: relative;
  padding: 10px;
}


.wrap_wording_cta h3 {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  text-align: center;
  font-size: 18px;
  color: #333;
}


ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline>li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline>li a {
  color: #000;
  font-size: 16px;
  padding: 0 0 10px 0;
  margin: 0;

}

ul.timeline>li .date {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #333;
}


ul.timeline>li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.wrap_detail_report {
  position: relative;
}

.wrap_detail_report h3 {
  padding: 0px 0 5px 0;
  margin: 0;
  font-size: 14px;
  color: #000;
  font-weight: 400;

}

.wrap_detail_report p {
  padding: 0x 0 0 0;
  margin: 0;
  font-size: 14px;
  color: #000;
}

.wrap_detail_report h4 {
  font-weight: 600;
  color: #000;
  font-size: 14px;
  padding: 5px 0 0 0;
  margin: 0;
}

.timeline .table {
  margin-top: 10px;
}

.custom-control-input:disabled~.custom-control-label {
  color: #000;
}

.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:disabled:indeterminate~.custom-control-label::before {
  background-color: rgba(251, 150, 120, 1);
}

.wrap_checklist h5 {
  padding-bottom: 10px;
  padding-left: 15px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #801336;
}

.nav-pills .nav-link {
  border-radius: .25rem;
  color: #000;
}

.form-control{
  padding: 2px 10px;
  min-height: 26px;
}

.form-group {
  margin-bottom: 10px !important;
}

.nav-pills{
  .nav-link {
    border-radius: .25rem;
    color: #000;
    background: #eee;
    margin-right: 7px;
    border: 1px solid #ddd;
    &.active{
      border: 1px solid #801336;
    }
  }
}
.input-group-text{
  cursor: pointer;
  line-height: 14px;
}
.table thead.heading {
  background: #f8f9fa;
}
.wrap_fs{
  padding-left: 20px;
  padding-bottom: 10px;
  h5{
    padding-bottom: 10px;
    padding-left: 0px;
    font-weight: 400;
  }
  .note{
    margin-top: 15px;
  }
  .checkbox{
    display: inline-flex;
  }
}
.fs_checkbox{
  .checkbox{
    label{
      width: 160px;
    }
  }
}
.wf_2,.wf_3,.wf_5,.wf_6,.wf_7{
  margin-top: 20px;
  .outstanding_remarks{
    margin-top: -20px;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 20px;
  }
}
.wf_2{
  .fs_bit{
    width: 351px;
    display: inline-block;
    .wrap_fs{
      padding-bottom: 0px;
    }
  }
  .checkbox{
    width: 321px;
    label{
      display: inline-table;
    }
  }
}

.sidebar-nav ul li.nav-small-cap{
  padding: 10px 0px;
}

textarea{
  resize: vertical;
}

.table_sharefolder{
  .select2-selection{
    border: none !important;
    background: transparent !important;
    .select2-selection__rendered{
      padding: 0px !important;
    }
  }
  .select2-selection__arrow{
    display: none;
  }
}
.iframe{
  .customtab{
    padding: 30px 20px;
    .nav-link{
      padding: 10px 20px;
      border-radius: .25rem;
      color: #000;
      background: #eee;
      margin-right: 7px;
      font-weight: 300;
      &:hover{
        color: #000;
      }
      &.active{
        color: #fff;
        background: #801336;
        border: none;
        font-weight: 300;
      }
    }
  }
}

p.hl{
  font-weight: 600;
  color: #000;
  font-size: 14px;
  padding: 5px 0 0 0;
  margin: 0;
}

#FlowStatus{
  padding-left: 17px;
}

a{
  color: #d50000;
}
.services_remarks, .outstanding_remarks{
  padding: 20px;
}

.tdl20 tr{
  td:first-child,th:first-child{
    padding-left: 20px;
  }
}

.help-block{
  display: block;
  small{
    font-size: 85%;
    color: #999;
  }
}

.wrap_welcome{
  margin-top: 40px;
  text-align: center;
  position: relative;
  background: #fff;
  padding: 4%;
}


.wrap_welcome img{
  margin: 0px auto;
  position: relative;
}

.wrap_welcome .intro h3 {
  padding: 20px 0 0 ;
  margin: 0px;
  line-height: normal;
  font-size: 20px;
  color: #333;
}

.wrap_welcome .intro p {
  text-align: center;
  padding: 10px 0 0 ;
  margin: 0px auto;
  max-width: 500px;
  font-size: 14px;
  color: #333;
}

.lblfield .form-group label{
  font-weight: bold;
}

.thnowrap th{
  white-space: nowrap;
}
.sidebar-nav li[disabled]{
  background: #aaa;
  a{
    cursor: no-drop;
    font-weight: normal;
    &:focus,&:hover{ font-weight: normal; }
  }
}

.checkbox label:before {
  -o-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  background-color: transparent;
  border-radius: 3px;
  content: "";
  height: 17px;
  transition: .3s ease-in-out;
  width: 17px;
  outline: none!important;
  border: 1px solid #d50000;
}
.highlight{
  background: #d3f2ff;
}