
@media (min-width: 1199px) {
	.med_cek:after {
		content: "@media (max-width: 1199px)";
	}

	.tab-wizard b {
		display: block;
	}

	.ds_none {
		display: none;


	}


}

@media (min-width: 992px) and (max-width: 1199px) {
	.med_cek:after {
		content: "@media (min-width: 992px) and (max-width: 1199px)";
	}

}

@media screen and (max-width:400px) {
	.med_cek:after {
		content: "@media (max-width: 991px)";
	}
}

@media (max-width: 991px) {
	.med_cek:after {
		content: "@media (max-width: 991px)";
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.med_cek:after {
		content: "@media (min-width: 768px) and (max-width: 991px)";
	}
}

@media (max-width: 767px) {
	.med_cek:after {
		content: "@media (max-width: 767px)";
	}

	.topbar .top-navbar .navbar-header{
		min-width: 200px;
	}
	.topbar .top-navbar .navbar-collapse{
		text-align: right;
	}

	.sidebar-nav ul li.nav-small-cap {
		color: #fff;
	}

	.sidebar-nav .has-arrow::after {
		border-color: #fff;
	}

	.horizontal-nav .sidebar-nav #sidebarnav li a:hover {
		color:black !important;
	}

	.page-titles {
		margin-top: 10px;
	}

	.bg_cover_mb {
		background-image: url('images/1.jpg');
		background-size: cover;
	}

	.wizard-content .wizard>.steps>ul>li {
		display: table-cell;
		width: auto;
		float: unset;
	}

	.tab-wizard b {
		display: none;
	}

	.ds_none {
		display: block;
		font-size: 20px;
		margin-bottom: 20px;

	}

	.wizard-content .wizard>.content>.body {
		padding: 0px;
	}

	.sidebar-nav ul li ul li a {
		color:#fff;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	.med_cek:after {
		content: " @media (min-width: 480px) and (max-width: 767px)";
	}
}


@media (max-width: 377px) {
	.med_cek:after {
		content: "@media (max-width: 377)";
	}
}


@media (max-width: 390px) {
	.med_cek:after {
		content: "@media (max-width: 390px)";
	}
}


@media (max-width: 299px) {
	.med_cek:after {
		content: "@media(max-width: 299px) ";
	}
}